.wrap-contacts li{
  padding-left: 30px;
  padding-top: 10px;
  position: relative;
}

.wrap-contacts li:before{
  content: "";
  font-family: "FontAwesome";
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  font-size: 18px;
}

.wrap-contacts a{
  text-decoration: none;
  color: #a4acb5;
}

.wrap-contacts li.phone:before{
  content: "\f095";
}
.wrap-contacts li.mail:before{
  content: "\f0e0";
}
.wrap-contacts li.url:before{
  content: "\f0ac";
}
.wrap-contacts li.location:before{
  content: "\f041";
}
