.fw-main-row.background-video .fw-container {
	z-index: 1;
}

.fw-main-row {
	background-repeat: no-repeat;
	background-size: cover;
}

.fullwidth-section-content {
	z-index: 1;
	position: relative;
}