.fw-subscribe {
	padding: 20px;
	display: table;
    position: relative;
    width: 100%;
}

.fw-subscribe > div {
	display: table-cell;
	vertical-align: middle;
}
.fw-subscribe .fw-subscribe-content {
    width: 40%;
    position: relative;
    padding-left: 70px;
}
.fw-subscribe-content:before {
    content: "\f0e0";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 48px;
    color: #4eaade;
}

.fw-subscribe .fw-subscribe-content h3 {
	margin: 0;
}

.fw-subscribe .fw-subscribe-action {
	padding-left: 40px;
    width: 60%;
    white-space: nowrap;
}
.fw-subscribe .fw-input-container {
    margin: 5px 40px 0 0;
    display: inline-block;
    width: calc( 100% - 250px );
}

.fw-subscribe .fw-input-container:after {
    content: " ";
    display: table;
    clear: both;
}
.fw-subscribe .fw-input-placeholder {
    float: left;
    color: #cbcbcb;
    height: 48px;
    line-height: 48px;
    width: 40px;
    border: 1px #e5e5e5 solid;
    border-right: none;
    border-radius: 3px 0 0 3px;
    background-color: #fff;
    margin-right: -40px;
    text-align: center;
}
.fw-subscribe .fw-input {
    height: 48px;
    padding: 0 0 0 40px;
    font-size: 14px;
    color: #666;
    line-height: 48px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-left: none;
    border-radius: 3px;
    width: 100%;
}
.fw-subscribe .fw-input.email {
    padding: 0 10px 0 0;
    border-radius: 0 3px 3px 0;
    border-left-color: #fff;
    margin-left: 40px;
    outline: none;
    -webkit-appearance: none;
}

@media (max-width: 786px){

    .fw-subscribe {
        padding: 20px;
        display: block;
        position: relative;
        width: 100%;
    }
    .fw-subscribe > div {
        display: block;
    }
    .fw-subscribe .fw-subscribe-content {
        width: 100%;
    }
    .fw-subscribe .fw-subscribe-action {
        padding-left: 0;
        width: 100%;
        white-space: normal;
        text-align: center;
    }
    .fw-subscribe .fw-input-container {
        margin: 5px 40px 10px 0;   
        width: calc( 100% - 40px );  
    }
}