.fw-iconbox {}
.fw-iconbox .fw-iconbox-title h3 {
	color: inherit;
	margin-top: 0;
	font-size: 23px;
	font-weight: bold;
}
.fw-iconbox .fw-iconbox-text {
	padding-bottom: 10px;
}
.fw-iconbox .fw-iconbox-text p:last-child {
	margin-bottom: 0;
}
/* Icon box style 1 */
.fw-iconbox-1 {
	text-align: center;
}
.fw-iconbox-1 .fw-iconbox-image {
	width: 56px;
	font-size: 28px;
	line-height: 28px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}
.fw-iconbox-1 .fw-iconbox-image img {
	border-radius: 5px;
}
.fw-iconbox-1 .fw-iconbox-title h3 {
	color: inherit;
	margin-top: 0.6em;
}
.fw-iconbox-1.bg-on .fw-iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #4eaade;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image {
	border-radius: 50%;
}
.fw-iconbox-1.icon-circle .fw-iconbox-image img {
	border-radius: 50%;
}
/* Icon box style 2 */
.fw-iconbox-2 {
	text-align: left;
}
.fw-iconbox-2 .fw-iconbox-image {
	float: left;
	width: 28px;
	font-size: 28px;
	line-height: 28px;
	border-radius: 5px;
	text-align: left;
}
.fw-iconbox-2 .fw-iconbox-image img {
	border-radius: 5px;
}
.fw-iconbox-2 .fw-iconbox-aside {
	margin-left: 43px;
}
.fw-iconbox-2.bg-on .fw-iconbox-title h3,
.fw-iconbox-2.fw-iconbox-image-type .fw-iconbox-title h3 {
	color: inherit;
	margin-top: 14px;
}
.fw-iconbox-2.bg-on .fw-iconbox-image {
	width: 56px;
	height: 56px;
	line-height: 56px;
	background-color: #4eaade;
	text-align: center;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image {
	border-radius: 50%;
}
.fw-iconbox-2.icon-circle .fw-iconbox-image img {
	border-radius: 50%;
}
