.ordered li,
.unordered li {
    margin: 7px 0;
}

.unordered li{
    margin-left: 30px;
    position: relative;
}
.unordered li:before{
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -15px;
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 20px;
    color: #4eaade;
    width: 30px;
}
.ordered li{
    margin-left: 30px;
    position: relative;
}
.ordered {
    counter-reset: li;
}
.ordered li:before{
    content: '';
    position: absolute;
    left: -30px;
    margin-top: 5px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: #4eaade;
    border-radius: 50%;
    z-index: 1;
    top: 0;
}
.ordered li:after{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    display: block;
    left: -30px;
    color: #fff;
    width: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    height: 20px;
    font-weight: 500;
    margin-top: 7px;
    z-index: 2;
    top: 0;
}