.fw-team-member {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.fw-team-member .fw-team-member-image {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px #fff solid;
    box-shadow: 0 0 0 7px #f1f1f1, 0 0 0 1px #e5e5e5;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    text-align: center;
    overflow: hidden;
}

.fw-team-member .fw-team-member-image img {
    width: 100%;
    height: auto;
}


.fw-team-member-image.active {
    border: 2px #fff solid;
    box-shadow: 0 0 0 7px #4eaade, 0 0 0 1px #e5e5e5;
}

.fw-team-member .fw-team-member-inner {
    position: absolute;
    z-index: 9999;
    top: 100%;
    margin-top: 30px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    text-align: center;
    padding: 9px 18px 18px;
    background-color: #363f48;
    min-width: 300px;
    color: #ffffff;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.fw-team-member .fw-team-member-inner:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 15px 11px;
    border-color: transparent transparent #363f48 transparent;
    border-radius: 2px 0 0 0;
}

.fw-team-member .fw-team-member-name {
    margin-bottom: 10px;
    color: #fff;
}

.fw-team-member .fw-team-member-name h3 {
    font-size: 18px;
    margin: 10px 0 5px 0;
    text-transform: uppercase;
    color: #fff !important;
}

.fw-team-member .fw-team-member-name span {
    font-size: 13px;
    color: #a4acb5;
}

.fw-team-member .fw-team-member-social a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.fw-team-member .fw-team-member-text p {
    color: #fff !important;
}

.fw-team-member .fw-team-member-social a:hover {
    color: #4eaade;
}

@media (max-width: 992px) {
    .fw-team-member {
        display: inline-block;
        margin-top: 10px;
        margin-left: 60px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .fw-team-member {
        display: block;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
}