.fw-accordion {
	clear: both;
}
.fw-accordion .fw-accordion-title {
	margin-top: 4px;
	position: relative;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	background: #fff;
	padding: 10px 50px;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #666666;
}
.fw-accordion .fw-accordion-title:first-child {
	margin-top: 0;
}
.fw-accordion .fw-accordion-title:focus {
	outline: medium none;
}
.fw-accordion .fw-accordion-title.ui-state-active {
	border-radius: 3px 3px 0 0;
	background: #f0f0f0;
	border-bottom: none;
	color: #4eaade;
}
.fw-accordion .fw-accordion-title .ui-icon {
	background: url("../img/plus-accordion.png") no-repeat;
	position: relative;
	top: 20px;
	left: 15px;
	width: 8px;
	height: 8px;
}
.fw-accordion .fw-accordion-title:after {
	content: "\f055";
	display: block;
	position: absolute;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #666;
	top: 5px;
	left: 15px;
}
.fw-accordion .fw-accordion-title.ui-state-active:after {
	content: "\f056";
  color: #4eaade;
}
.fw-accordion .fw-accordion-content {
	position: relative;
	background: #f0f0f0;
	border: 1px solid #e5e5e5;
	border-top: none;
	padding: 10px 50px;
	border-radius: 0 0 3px 3px;
}
.fw-accordion .fw-accordion-content p:last-child {
	margin-bottom: 0;
}
.fw-accordion .fw-accordion-content:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e5e5e5 #fff #fff #fff;
    border-radius: 3px 0 0 0;
}