/*------[ alt-style-1 ]------*/


body {
	font-family:Arial, Helvetica, sans-serif;
	background:#CBE4FE;

	}

#wrap {
	border-width:0px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:0px 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow:0px 1px 5px rgba(0,0,0,.2);
	-webkit-box-shadow:0px 1px 5px rgba(0,0,0,.2);
	}


h1,h2,h3,h4,h5,h6,h7,
#sitetitle .title {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}

h2.feature-title span, 
h3.widgettitle span, 
h2.feat-title span {
	font-size:18px;
	text-transform: lowercase;
	}

/* --[ Top Navigation Colors, Etc. ]-- */

#topnav {
	background:#eee;
	}

#topnav ul a  {
	color:#666;
	padding:5px 10px; 
	line-height:24px; 
	}

#topnav ul ul a  {
	width:180px; 
	line-height:20px;
	border: 1px solid #fff;
	border-bottom:0;
	background:#eee;
	color:#666;  
	}

#topnav ul a:hover { 
	color:#000;
	}

#topnav ul ul a:hover  {
	color:#000; 
	}

#topnav ul ul  { 
	border-bottom: 1px solid #fff;
	}

#topnav ul ul ul  { 
	margin: -31px 0 0 200px; 
	}