/*------[ alt-style-3 ]------*/


body {
	padding:0;
	margin:0;
	background:#fff;
	}

h1,h2,h3,h4,h5,h6,h7,#sitetitle .title {
	font-family:arial,helvetica,sans-serif;
	font-weight:bold;
	}

.outer-wrap {
	padding:0;
	margin:0 auto;
	}

#wrap {
	padding:46px 20px 0;
	margin:0 auto;
	}

#head-content {
	padding:40px 0;
	margin:0 auto;
	}

#page,
.limit {
	width:960px;
	margin: 0 auto;
	}

/* --[ Top Navigation Colors, Etc. ]-- */

#topnav {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#f0f0f0;
	border-bottom:1px solid #e5e5e5;
	}

#topnav ul a  {
	padding:10px; 
	line-height:24px;
	color:#666; 
	}

#topnav ul a:hover { 
	color:#000;
	}

#topnav ul ul  { 
	border-bottom: 1px solid #e5e5e5;
	}

#topnav ul ul a  {
	width:180px; 
	line-height:20px;
	border: 1px solid #e5e5e5;
	border-bottom:0;
	background:#f0f0f0;
	color:#666;
	padding:5px 10px;   
	}

#topnav ul ul a:hover  {
	color:#000; 
	}

#topnav ul ul ul  { 
	margin: -31px 0 0 200px; 
	}

#topnav form#searchform {
	margin:10px 0 0;
	}

/* --[ Category Navigation Colors, Etc. ]-- */

#catnav {
	background:#000;
	width:960px;
	margin:0 auto;
	}

#catnav ul a  {
	position:relative; 
	display:block; 
	z-index:100; 
	padding:5px 10px; 
	line-height:20px; 
	text-decoration:none;
	color:#fff; 
	}

#catnav ul a:hover {
	color:#fff;
	background:#222;
	}

#catnav ul ul  { 
	border-bottom: 1px solid #333;
	}

#catnav ul ul a  {
	width:180px; 
	line-height:20px;
	border: 1px solid #333;
	border-bottom:0;
	background:#000;
	color:#fff;  
	}

#catnav ul ul a:hover  {
	color:#fff;
	background:#222;
	}

#catnav ul ul ul  { 
	margin: -31px 0 0 200px; 
	}
