/*------[ alt-style-2 ]------*/


body {
	background:#333;

	}

.outer-wrap {
	clear: both;
	margin: 30px auto;
	padding:0;
	}

#wrap {
	width:960px;
	background:#fff;
	clear: both;
	margin: 0 auto;
	padding:20px;
	border:10px solid #ddd;
	}

#footer {
	clear: both;
	margin: 0 auto;
	padding: 5px 10px;
	border:0;
	position:relative;
	background:#000;
	height:24px;
	line-height:24px;
	color:#ccc;
	}

#footer .sub-icons {
	position:absolute;
	top: 5px;
	right:5px; 
	z-index:9999;
	margin:0;
	}

#footer a, #footer a:link, #footer a:visited {
	color:#fff;
	}

#footer a:hover, #footer a:active {
	color:#ffcc00
	}

h1,h2,h3,h4,h5,h6,h7,
#sitetitle .title {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}


/* --[ Top Navigation Colors, Etc. ]-- */

#topnav {
	background:#f0f0f0;
	}

#topnav ul a  {
	padding:5px 10px; 
	line-height:24px; 
	color:#555;
	}

#topnav ul a:hover {
	color:#000;
	}

#topnav ul ul  { 
	border-bottom: 1px solid #e5e5e5;
	}

#topnav ul ul a  {
	width:180px; 
	line-height:20px;
	border: 1px solid #e5e5e5;
	border-bottom:0;
	background:#f0f0f0;
	color:#555;  
	}

#topnav ul ul a:hover  {
	color:#000; 
	}

#topnav ul ul ul  { 
	margin: -31px 0 0 200px; 
	}


img.thumbnail {
	width:100px;
	height:auto;
	float:right;
	margin: 0 0 10px 10px;
	}

#home-top-narrow #slideshow img.thumbnail {
	height: 150px;
	width:auto
	}

.widget,
.widget.sidetabs {
	background: #eee;
	padding:10px;
	border:1px solid #ddd;
	}

#sidebar-bottom .widget,
#sidebar-narrow .widget,
#footer-widgets .widget {
	background: transparent;
	padding:0;
	border:0;
	}

.widget.sidetabs {
	padding:5px;
	}

.widget.sidetabs ul.tabs {  
	margin: 5px;
	border-bottom:0;
	}

.widget.sidetabs ul.tabs li a,
.widget.sidetabs ul.tabs li a:link, 
.widget.sidetabs ul.tabs li a:visited {
	color:#333;
	border-right:0;
	height:26px;
	line-height:26px;
	}

.widget.sidetabs ul.tabs li.ui-tabs-selected a,
.widget.sidetabs ul.tabs li.ui-tabs-selected a:link,
.widget.sidetabs ul.tabs li.ui-tabs-selected a:visited {
	background:#000;
	color:#fff;
	}

.widget.widget_calendar {
	background: transparent;
	padding:0;
	border:0;
	}

#slideshowvids {
	border:0;
	background:transparent;
	margin:0;
	padding:0;
	}

#slideshowvids .slides {
	padding:0px;
	width:278px;
	height:227px;
	background:transparent;
	overflow:hidden;
	}

#slideshowvids .slides li {
	padding:3px;
	width:270px;
	height:220px;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
	border-bottom:0;
	}

.banner125 .ad img {
	float:left;
	width:125px;
	height:125px;
	margin:0 0 4px 0;
	padding:5px;
	background:#fff;
	border:1px solid #ddd;
	}

.banner125 .ad.right img {
	float:right;
	margin-right:0;
	}