.mightySlider_modern .frame {
    width: 100%;
    height: 500px;
}
.mightySlider_modern .frame ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
.mightySlider_modern .frame ul li {
    float: left;
    height: 100%;
}
.mightySlider_modern .frame ul li img {
    max-width: none;
}
.mightySlider_modern .frame ul li .mSCover {
    position: relative;
}
.mightySlider_modern .frame ul li .mSCover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);

    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mightySlider_modern .frame ul li:hover .mSCover:after {
    background-color: rgba(0, 0, 0, 0.6);
}
.mightySlider_modern.mSMedia .frame ul li:hover .mSCover:after {
    display: none;
}
.mightySlider_modern .details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #FFF;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mightySlider_modern.mSMedia .details {
    display: none;
}
.mightySlider_modern .frame ul li:hover .details {
    background-color: rgba(0, 0, 0, 0.6);
}
.mightySlider_modern .details .title {
    display: block;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mightySlider_modern .details .description {
    font-weight: 300;
    height: 0;
    overflow: hidden;
    color: #D5D5D5;

    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mightySlider_modern .frame ul li:hover .details .description {
    height: 60px;
    margin-bottom: 10px;
}
.mightySlider_modern .details .counts {
    height: 20px;
}
.mightySlider_modern .details .counts a {
    float: left;
    color: #AAA;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 15px;

    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mightySlider_modern .details .counts a:hover {
    color: #FFF;
    text-decoration: none;
}
.mightySlider_modern .details .counts a.more {
    float: right;
    opacity: 0;
    margin: 0;
}
.mightySlider_modern .frame ul li:hover .details .counts a.more {
    opacity: 1;
}
