.project-gallery-postbox .inside {
	margin-top: 0 !important;
	padding-bottom: 0 !important;
}
#fw-backend-option-fw-option-project-gallery {
	padding: 0 12px 12px;
}
#fw-option-project-gallery .thumb {
	width: 76px;
	height: 76px;
	margin: 0 8px 8px 0;
}
#fw-option-project-gallery .thumbs-container:not(.empty) {
	margin-top: 14px;
}

#poststuff h2.post-quote-title {
	margin: 15px 0 0 0;
}
#wp-content-editor-tools {
	padding-top: 5px;
}

#ct_job_title input, #ct_website_name input, #ct_website_link input {
	width: 100%;
}