table.wp-list-table td.column-image {
	line-height: 0;
}

table.wp-list-table th.manage-column.column-image {
	width: 150px;
}

#posts-filter th.column-posts span{
	white-space: nowrap;
}

@media screen and (max-width: 1450px) {
	#posts-filter th.column-posts{
		width: 20%;
	}
}

#post-query-submit, .tablenav.top .view-switch {
	display: none;
}

