.mightySlider_showcase {
    background-size: 100% 100%;

    -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, .6) inset;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .6) inset;
}
.mightySlider_showcase .frame {
    width: 100%;
    padding: 100px 0 170px 0;
}
.mightySlider_showcase .frame ul {
    position: relative !important;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
.mightySlider_showcase .frame ul li {
    float: left;
    height: 100%;
    margin-right: 60px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: 0 38px 30px -18px rgba(0, 0, 0, .6);
    box-shadow: 0 38px 30px -18px rgba(0, 0, 0, .6);
}
.mightySlider_showcase .frame ul li .mSCover {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.mightySlider_showcase .frame ul li img {
    max-width: none;
}
.mightySlider_showcase .details {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    display: none;
}
.mightySlider_showcase .details > div {
    display: inline-block;
    background: #FFF;
    padding: 10px 20px;
    max-width: 60%;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 0 25px 7px -18px rgba(0, 0, 0, .3);
    box-shadow: 0 25px 7px -18px rgba(0, 0, 0, .3);
}
.mightySlider_showcase .details .slideTitle {
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}
/*@media (max-width: 767px) {*/
    /*.mightySlider_showcase .frame {*/
        /*padding: 100px 0;*/
    /*}*/
    /*.mightySlider_showcase .details {*/
        /*display: none;*/
    /*}*/
/*}*/
