.fw-testimonials {
	position: relative;
	margin: 0 0 10px 0;
}
.fw-testimonials .fw-testimonials-item {
	position: relative;
	padding-top: 20px;
	padding-right: 10px;
	float: left;
}
.fw-testimonials .fw-testimonials-text {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #262626;
	line-height: 1.5em;
	position: relative;
	background-color: #ffffff;
	border-radius: 3px;
	padding: 20px;
	border: 1px solid #e5e5e5;
	margin-bottom: 15px;
}

.fw-testimonials .fw-testimonials-text:before,
.fw-testimonials .fw-testimonials-text:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 45%;
	border-style: solid;
}
.fw-testimonials .fw-testimonials-text:before {
	bottom: -22px;
	margin-left: -1px;
	border-width: 22px 22px 0px 0;
	border-color: #e0e0e0 transparent transparent transparent;
}
.fw-testimonials .fw-testimonials-text:after {
	bottom: -19px;
	border-width: 20px 20px 0 0;
	border-color: #ffffff transparent transparent transparent;
}

.fw-testimonials .fw-testimonials-text p {
	margin-bottom: 1.4em;
}
.fw-testimonials .fw-testimonials-text p:last-child {
	margin-bottom: 0;
}
.fw-testimonials .fw-testimonials-pagination a {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #d0d0d0;
	overflow: hidden;
	margin: 3px;
	outline: none;
}
.fw-testimonials .fw-testimonials-pagination a span {
	display: block;
	text-indent: -300px;
}
.fw-testimonials .fw-testimonials-pagination a:hover {
	background-color: #b9b9b9;
}
.fw-testimonials .fw-testimonials-pagination a.selected {
	background-color: #4eaade;
}

.fw-testimonials .fw-testimonials-meta {
	padding-top: 10px;
	padding-bottom: 20px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.fw-testimonials .fw-testimonials-avatar {
	padding-right: 10px;
	padding-left: 20px;
}
.fw-testimonials .fw-testimonials-avatar img {
	min-width: 50px;
	height: auto;
	border: 1px solid #dadada;
	background-color: #fff;
	border-radius: 50%;
}
.fw-testimonials .fw-testimonials-author {
	padding: 0 0 0 20px;
	word-wrap: break-word;
}
.fw-testimonials .fw-testimonials-author .author-name {
	color: #363f48;
	font-weight: 600;
	display: block;
}
.fw-testimonials .fw-testimonials-author em {
	font-size: 90%;
}
.fw-testimonials .fw-testimonials-author .fw-testimonials-url {
	display: block;
	font-size: 90%;
}
.fw-testimonials .fw-testimonials-arrows {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 0;
	z-index: 2;
}
.fw-testimonials .fw-testimonials-arrows a {
	margin: 0 5px;
	outline: none;
}
.fw-testimonials .fw-testimonials-pagination {
	position: absolute;
	display: inline-block;
	bottom: 22px;
	right: 0;
	z-index: 2;
}


@media (max-width: 768px) {
	.fw-testimonials .fw-testimonials-item {
		position: relative;
		padding-top: 0;
		padding-right: 10px;
		float: none;
	}
	.fw-testimonials .fw-testimonials-avatar {
		text-align: center;
		margin-right: 10px;
	}
	.fw-testimonials .fw-testimonials-meta {
		padding-right:60px;
		padding-top: 10px;
		display: block;
		margin-left: 0;
	}
	.fw-testimonials .fw-testimonials-meta > div {
		min-width: 50px;
		display: block;
	}
	.fw-testimonials .fw-testimonials-author {
		text-align: center;
		padding: 0;
	}
	.fw-testimonials .fw-testimonials-item .fw-testimonials-text p{
		font-size: 13px !important;
	}

}