.mightySlider_simple .frame {
    width: 100%;
    height: 210px;
}
.mightySlider_simple .frame ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
.mightySlider_simple .frame ul li {
    float: left;
    height: 100%;
    padding: 0 10px;
}
.mightySlider_simple .frame ul li img {
    max-width: none;
}
.mightySlider_simple .frame ul li .details {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 10px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, .9);
    bottom: -100%;
    left: 10px;
    right: 10px;
    transition: all .5s ease;
}
.mightySlider_simple .frame ul li:hover .details{
    bottom: 0;
}
.mightySlider_simple .frame ul li .details .title {
    display: block;
    color: #000;
    font-weight: bold;
}
.mightySlider_simple .frame ul li .details .description {
    display: block;
    font-size: 13px;
}

.mightySlider_simple ul.mSPages {
    float: right;
    margin-bottom: 20px;
    margin-right: 12px;
}
.mightySlider_simple .mSButtons {
    top: 90px;
    bottom: auto;
}
