#post-body-content.page-builder-visible {
	margin-bottom: 0;
}
#postdivrich {
	display: none;
}
#titlediv {
	margin-bottom: 20px;
}
#wp-content-editor-tools {
	padding-top: 0;
}
.postbox-with-fw-options {
	background: none;
	border: none;
}
.postbox-with-fw-options > .inside {
	margin-top: 5px !important;
	background: #fff;
	border: 1px solid #e5e5e5;
}