.mightyslider_paper_skin {
    /*background-color: transparent !important;*/
    width: 100%;
    height: 768px;
}

.mightySlider_paper .frame {
    width: 100%;
    height: 768px;

    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;

    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.mightySlider_paper .frame .slide_element {
    height: 768px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mightySlider_paper .frame .slide_element > div {
    float: left;
    height: 768px;
}

.mightySlider_paper .frame .mSCover img {
    max-width: none;
}
.mightySlider_paper .mSCoverImage {
    height: 768px;
}

.mightySlider_paper .mSCover {
    height: 768px;
}

/* Animated layers styles */
.mightySlider_paper  .centralize {
    left: 50%;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mightySlider_paper  .centralizeX {
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.mightySlider_paper  .centralizeY {
    top: 50%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mightySlider_paper .frame .slide_2 .mSCaption,
.mightySlider_paper .frame .slide_3 .mSCaption,
.mightySlider_paper .frame .slide_4 .mSCaption {
    left: 50%;
    right: 80px;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0);
    cursor: default;
}
.mightySlider_paper .frame .paper_h {
    font-size: 64px;
    font-weight: 500;
}
.mightySlider_paper .frame .paper_p {
    font-size: 34px;
    font-weight: 200;
    line-height: 40px;
}

.mightySlider_paper .mSLink {
    display: none;
}

.mightySlider_paper .frame .slide_1 .mSVideo {
    display: none !important;
}
.mightySlider_paper .paper_intro {
    position: absolute;
    left: 80px;
    color: #FFF;
}
.paper_intro .buttons a {
    text-decoration: none;
    margin-top: 20px;
}

.mightySlider_paper .frame .slide_1 .paper_p {
    font-size: 28px;
    line-height: 34px;
    margin-top: 12px;
}
.mightySlider_paper .hover {
    bottom: 20px;
    right: auto;
    left: 20px;
    padding: 4px 6px;
    border-radius: 5px;
    line-height: normal;
}
.mightySlider_paper .paper_watchImage,
.mightySlider_paper .paper_downloadImage {
    width: 35px;
    height: 35px;
}
.mightySlider_paper .paper_watchNow {
    margin-bottom: 30px;
}
.mightySlider_paper .paper_watchImage, .paper_watch {
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
}
.mightySlider_paper .paper_watch {
    padding: 20px;
    padding-left: 60px;
    margin-left: -50px;
    font-size: 26px;
    font-weight: 200;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}
.mightySlider_paper .paper_download {
    display: block;
    margin-top: 90px;
    margin-bottom: -135px;
}
.mightySlider_paper .paper_downloadText {
    font-size: 26px;
    font-weight: 200;
    line-height: 1;
    color: #fff;
    padding-left: 10px;
}
.mightySlider_paper .paper_downloadImage, .paper_downloadText {
    display: inline-block;
    vertical-align: middle;
}
.mightySlider_paper .mSClose {
    top: 80px !important;
}
.mightySlider_paper .isTouch .mSClose {
    top: auto !important;
}


/* Responsive Improvements */
@media (max-width: 767px) {
    .mightySlider_paper .frame .mSSlide:not(.slide_1) .paper_h {
        font-size: 28px;
    }
    .mightySlider_paper .frame .mSSlide:not(.slide_1) .paper_p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 8px;
    }
    .mightySlider_paper .paper_intro {
        left: 40px;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.6) translateY(-50%);
        transform: scale(0.6) translateY(-50%);
    }
}

ul.mSPages {
    padding-top: 0 !important;
}