.latest-blog-post {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px 1px 3px;
    background-color: #fff;
    margin: 20px 15px 0;
    text-align: left;
}

.latest-blog-post .thumb-container {
    width: 100%;
    position: relative;
}
.latest-blog-post .thumb-container .thumb {
    width: 100%;
    height: auto;
    z-index: 1;
    border-bottom: 1px #e5e5e5 solid;
}
.latest-blog-post .thumb-container .no_thumb{
    width: 100%;
    height: 60px;
    z-index: 1;
}
.latest-blog-post .thumb-container .date {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.latest-blog-post .thumb-container .date:before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px;
    border-color: #fff #4eaade #4eaade #fff;
}
.latest-blog-post .thumb-container .date .item {
    position: absolute;
    z-index: 20;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 30px;
}
.latest-blog-post .thumb-container .date .item.day {
    color: #4eaade;
    top: 10px;
    left: 10px;
}
.latest-blog-post .thumb-container .date .item.month {
    color: #fff;
    top: 30px;
    left: 30px;
}
.latest-blog-post .content {
    padding: 5px 20px 0;
}

.latest-blog-post .content a {
    text-decoration: none;
}

.latest-blog-post .content .meta {
    color: #a5a4a4;
    font-size: 12px;
}
.latest-blog-post .content .meta a {
    color: #a5a4a4 !important;
    font-size: 12px;
    text-decoration: none;
}

.latest-blog-post .content .meta i {
    margin: 0 3px 0 5px;
}

.latest-blog-post .content .summary {
    margin: 20px 0;
}

.nav-dots {
    display: block;
    min-width: 100px;
    margin: 20px auto;
    text-align: center;
}
.nav-dots .item {
    display: inline-block;
    margin: 0 2px;
    background-color: #d0d0d0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-dots .item.active {
    background-color: #4eaade;
}