.wrap-portfolio {
    max-width: 250px;
}

.widget-portfolio-item {
    display: block;
    float: left;
    width: 75px;
    height: 55px;
    margin: 0 7px 7px 0;
    overflow: hidden;
}
.widget-portfolio-img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s;
}
.widget-portfolio-img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
.widget-portfolio-img:active {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}