.portfolio-tabs{
	margin: 20px auto;
	padding: 0;
	list-style: none;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.portfolio-tabs .item{
	display: inline-block;
	background-color: #363f48;
	margin: 0 1px 10px;
}
.portfolio-tabs .item:first-child{
	border-radius: 2px 0 0 2px;
}
.portfolio-tabs .item:last-child{
	border-radius: 0 2px 2px 0;
}
@media (max-width: 768px){
	.portfolio-tabs .item:first-child{
		border-radius: 0;
	}
	.portfolio-tabs .item:last-child{
		border-radius: 0;
	}}
.portfolio-tabs .item a{
	display: block;
	color: #fff !important;
	text-decoration: none;
	text-transform: uppercase;
	padding: 12px 10px;
	outline: none;
}
.portfolio-tabs .item.active{
	background-color: #4eaade;
	position: relative;
}
.portfolio-tabs .item.active:after{
	content: "";
	display: block;
	position: absolute;
	top: calc( 100% - 1px );
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 7px 0 7px;
	border-color: #4eaade transparent transparent transparent;
	border-radius: 2px 0 0 0;
}

.portfolio-container {
	text-align: center;
}
.portfolio-container.loading {
	position: relative;
}

.portfolio-item{
	margin: 20px 5px 0;
	border: 1px #e5e5e5 solid;
	background-color: #fff;
	width: 270px;
	display: inline-block;
	vertical-align: top;
}
.portfolio-item .image{
	width: 100%;
	height: auto;
	border-bottom: 1px #e5e5e5 solid;
}
.portfolio-item .desc{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	padding: 0 16px;
	min-height: 50px;
}
.portfolio-item .desc .title{
	font-size: 13px;
	color: #363f48;
	text-transform: uppercase;
	max-width: 210px;
	padding-top: 10px;
}

.portfolio-item .portfolio-actions{
	min-width: 80px;
}

.portfolio-item .desc .action {
	outline: none;
}

.loader {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 50%;
	margin: -20px 0 0 -20px;
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: rotate-forever;
	-moz-animation-name: rotate-forever;
	animation-name: rotate-forever;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	height: 40px;
	width: 40px;
	border: 5px solid #fff;
	border-right-color: transparent;
	border-left-color: transparent;
	border-radius: 50%;
}

@-webkit-keyframes rotate-forever {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes rotate-forever {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate-forever {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.loading-spinner {
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: rotate-forever;
	-moz-animation-name: rotate-forever;
	animation-name: rotate-forever;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	height: 30px;
	width: 30px;
	border: 8px solid #ffffff;
	border-right-color: transparent;
	border-radius: 50%;
	display: inline-block;
}
