@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
[class*="cal-cell"] {
  float: left;
  margin-left: 0;
  min-height: 1px;
}
.cal-row-fluid {
  width: 100%;
  *zoom: 1;
}
.cal-row-fluid:before,
.cal-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.cal-row-fluid:after {
  clear: both;
}
.cal-row-fluid [class*="cal-cell"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.05213764337851929%;
}
.cal-row-fluid [class*="cal-cell"]:first-child {
  margin-left: 0;
}
.cal-row-fluid .controls-row [class*="cal-cell"] + [class*="cal-cell"] {
  margin-left: 0%;
}
.cal-row-fluid .cal-cell7 {
  width: 100%;
  *width: 99.94669509594883%;
}
.cal-row-fluid .cal-cell6 {
  width: 85.71428571428571%;
  *width: 85.66098081023453%;
}
.cal-row-fluid .cal-cell5 {
  width: 71.42857142857142%;
  *width: 71.37526652452024%;
}
.cal-row-fluid .cal-cell4 {
  width: 57.14285714285714%;
  *width: 57.089552238805965%;
}
.cal-row-fluid .cal-cell3 {
  width: 42.857142857142854%;
  *width: 42.80383795309168%;
}
.cal-row-fluid .cal-cell2 {
  width: 28.57142857142857%;
  *width: 28.518123667377395%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.232409381663112%;
}
.cal-week-box .cal-offset7,
.cal-row-fluid .cal-offset7,
.cal-row-fluid .cal-offset7:first-child {
  margin-left: 100%;
  *margin-left: 99.89339019189765%;
}
.cal-week-box .cal-offset6,
.cal-row-fluid .cal-offset6,
.cal-row-fluid .cal-offset6:first-child {
  margin-left: 85.71428571428571%;
  *margin-left: 85.60767590618336%;
}
.cal-week-box .cal-offset5,
.cal-row-fluid .cal-offset5,
.cal-row-fluid .cal-offset5:first-child {
  margin-left: 71.42857142857142%;
  *margin-left: 71.32196162046907%;
}
.cal-week-box .cal-offset4,
.cal-row-fluid .cal-offset4,
.cal-row-fluid .cal-offset4:first-child {
  margin-left: 57.14285714285714%;
  *margin-left: 57.03624733475479%;
}
.cal-week-box .cal-offset3,
.cal-row-fluid .cal-offset3,
.cal-row-fluid .cal-offset3:first-child {
  margin-left: 42.857142857142854%;
  *margin-left: 42.750533049040506%;
}
.cal-week-box .cal-offset2,
.cal-row-fluid .cal-offset2,
.cal-row-fluid .cal-offset2:first-child {
  margin-left: 28.57142857142857%;
  *margin-left: 28.46481876332622%;
}
.cal-week-box .cal-offset1,
.cal-row-fluid .cal-offset1,
.cal-row-fluid .cal-offset1:first-child {
  margin-left: 14.285714285714285%;
  *margin-left: 14.17910447761194%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.233576642335766%;
}
[class*="cal-cell"].hide,
.cal-row-fluid [class*="cal-cell"].hide {
  display: none;
}
[class*="cal-cell"].pull-right,
.cal-row-fluid [class*="cal-cell"].pull-right {
  float: right;
}
.cal-row-head [class*="cal-cell"]:first-child,
.cal-row-head [class*="cal-cell"] {
  min-height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cal-events-num {
  margin-top: 20px;
}
.cal-month-day {
  position: relative;
  display: block;
  width: 100%;
}
#cal-day-tick {
  position: absolute;
  right: 50%;
  bottom: -21px;
  padding: 0px 5px;
  cursor: pointer;
  z-index: 5;
  text-align: center;
  width: 26px;
  margin-right: -17px;
  display: none !important;
}
.cal-year-box #cal-day-tick {
  margin-right: -7px;
}
#cal-slide-box {
  position: relative;
}
#cal-slide-tick {
  position: absolute;
  margin-left: -8px;
  top: -2px;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #9cd0fd;
}
#cal-slide-tick.tick-month1 {
  left: 12.5%;
}
#cal-slide-tick.tick-month2 {
  left: 37.5%;
}
#cal-slide-tick.tick-month3 {
  left: 62.5%;
}
#cal-slide-tick.tick-month4 {
  left: 87.5%;
}
#cal-slide-tick.tick-day1 {
  left: 7.14285714285715%;
}
#cal-slide-tick.tick-day2 {
  left: 21.42857142857143%;
}
#cal-slide-tick.tick-day3 {
  left: 35.71428571428572%;
}
#cal-slide-tick.tick-day4 {
  left: 50%;
}
#cal-slide-tick.tick-day5 {
  left: 64.2857142857143%;
}
#cal-slide-tick.tick-day6 {
  left: 78.57142857142859%;
}
#cal-slide-tick.tick-day7 {
  left: 92.85714285714285%;
}
.events-list {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
#cal-slide-content ul.unstyled {
  margin-bottom: 0;
  margin-left: 0;
}
.cal-week-box {
  position: relative;
  width: 100%;
  z-index: 1;
}
.cal-week-box [data-event-class] {
  white-space: nowrap;
  height: 34px;
  margin: 1px 1px 2px;
  line-height: 34px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}
.cal-week-box .cal-column {
  position: absolute;
  height: 100%;
  z-index: 100;
}
.cal-week-box .cal-row-fluid{
    position: relative;
    z-index: 101;
}
.cal-week-box .arrow-before,
.cal-week-box .arrow-after {
  position: relative;
}
.cal-week-box .arrow-after:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  right: 0;
  border-top: 15px solid #ffffff;
  border-left: 8px solid;
  border-bottom: 15px solid #FFFFFF;
}
.cal-week-box .arrow-before:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  left: 1px;
  border-top: 15px solid transparent;
  border-left: 8px solid #FFFFFF;
  border-bottom: 15px solid transparent;
}
#cal-day-box {
  text-wrap: none;
}
#cal-day-box .cal-day-hour-part {
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#cal-day-box .cal-day-hour .day-highlight {
  height: 34px;
  line-height: 34px;
  padding-top: 0;
}
#cal-day-box .cal-hours {
  font-weight: bolder;
}
#cal-day-box #cal-day-panel {
  position: relative;
  padding-left: 120px;
}
#cal-day-box #cal-day-panel-hour {
  position: absolute;
  width: 100%;
  margin-left: -120px;
}
#cal-day-box .day-event {
  position: relative;
  max-width: 200px;
  overflow: hidden;
}
#cal-day-box .day-highlight {
  line-height: 16px;
  padding: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 1px 1px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 78.5%;
}
#cal-day-box .day-highlight .event-item{
    text-decoration: none;
    display: block;

}
#cal-day-box .day-highlight .event-item:hover{
    text-decoration: underline;
    color: #0f6ab8;
}
#cal-day-box .day-highlight .cal-hours{
    color: #595959;
}
.event {
  display: block;
  background-color: #c3c3c3;
  width: 12px;
  height: 12px;
  margin-right: 2px;
  margin-bottom: 2px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  border: 1px solid #ffffff;
}
.event-block {
  display: block;
  background-color: #c3c3c3;
  width: 20px;
  height: 100%;
}
.cal-event-list .event.pull-left {
  margin-top: 3px;
  display: none;
}
.event-important {
  background-color: #ad2121;
}
.event-info {
  background-color: #1e90ff;
}
.event-warning {
  background-color: #e3bc08;
}
.event-inverse {
  background-color: #1b1b1b;
}
.event-success {
  background-color: #006400;
}
.event-special {
  background-color: #800080;
}
.day-highlight:hover,
.day-highlight {
  background-color: #dddddd;
}
.day-highlight.dh-event-important:hover,
.day-highlight.dh-event-important {
  background-color: #fae3e3;
}
.day-highlight.dh-event-warning:hover,
.day-highlight.dh-event-warning {
  background-color: #fdf1ba;
}
.day-highlight.dh-event-info:hover,
.day-highlight.dh-event-info {
  background-color: #d1e8ff;
}
.day-highlight.dh-event-inverse:hover,
.day-highlight.dh-event-inverse {
  background-color: #c1c1c1;
}
.day-highlight.dh-event-success:hover,
.day-highlight.dh-event-success {
  background-color: #caffca;
}
.day-highlight.dh-event-special:hover,
.day-highlight.dh-event-special {
  background-color: #ffe6ff;
}
.cal-row-fluid.cal-row-head [class*="cal-cell"]{
    color: #595959;
    font-size: 12px;
    background: #f1f1f1;
    text-transform: uppercase;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.cal-row-head [class*="cal-cell"]:first-child,
.cal-row-head [class*="cal-cell"] {
  font-weight: bolder;
  text-align: center;
  padding: 10px 0;
}
.cal-row-head [class*="cal-cell"]:last-child{
    border-right: none;
}
.cal-row-head [class*="cal-cell"] small {
  font-weight: normal;
}
.cal-month-day {
  height: 95px;
}
[class*="cal-cell"]:hover {
  background-color: #ededed;
}
.cal-year-box [class*="span"],
.cal-month-box [class*="cal-cell"] {
  min-height: 95px;
  border-right: 2px solid #fff;
  position: relative;
    background: #f1f1f1;
}
.cal-year-box [class*="span"]:hover,
.cal-month-box [class*="cal-cell"]:hover{
    background: #d3d3d3;
    cursor: pointer;
}
.cal-month-box [class*="cal-cell"]:hover span[data-cal-date],
.cal-month-day.event-day span[data-cal-date]{
    color: #0f6ab8;
}
.cal-month-day.event-day{
    background: #9cd0fd;
}
.cal-year-box [class*="span"] {
  min-height: 60px;
}
.cal-year-box .row-fluid [class*="span"]:last-child,
.cal-month-box .cal-row-fluid [class*="cal-cell"]:last-child {
  border-right: 0px;
}
.cal-year-box .row-fluid,
.cal-month-box .cal-row-fluid {
  border-bottom: 2px solid #fff;
  margin-left: 0px;
  margin-right: 0px;
}
.cal-year-box .row-fluid:last-child,
.cal-month-box .cal-row-fluid:last-child {
  border-bottom: 0px;
}
.cal-month-box,
.cal-year-box,
.cal-week-box {
  border-radius: 0;
}
span[data-cal-date] {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #b3b3b3;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  margin-top: 6px;
  margin-left: 11px;
}
span[data-cal-date]:hover {
  cursor: pointer;
}
.cal-day-outmonth span[data-cal-date] {
  cursor: default;
}
.cal-day-today,
.cal-day-today.event-day{
  background-color: #0f6ab8;
}
.cal-day-today.event-day:hover span[data-cal-date]{
    color: #fff;
}
.cal-day-today .cal-day-today.event-day #cal-slide-tick{
    border-top-color: #0f6ab8;
}
.cal-day-today span[data-cal-date],
.cal-day-today.event-day span[data-cal-date]{
  color: #fff;
}
.cal-month-box .cal-day-today span[data-cal-date] {
  font-size: 16px;
}
.cal-day-holiday span[data-cal-date] {
  color: #b3b3b3;
}
.cal-day-weekend span[data-cal-date] {
  color: #b3b3b3;
}
#cal-week-box {
  border: 1px solid #e1e1e1;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
  background-color: #fafafa;
  text-align: right;
}
#cal-day-tick {
  border: 1px solid #e1e1e1;
  border-top: 0px solid;
  border-radius: 0 0 5px 5px;
  background-color: #ededed;
  text-align: center;
}
#cal-slide-box {
  border-top: 0px solid #8c8c8c;
  border-bottom:2px solid #fff;
}
#cal-slide-content {
  padding: 20px 20px 20px 12px;
  color: #ffffff;
  background: #e9e9e9;
}
#cal-slide-content a.event-item {
  color: #0f6ab8;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
}
#cal-slide-content a.event-item:hover{
    text-decoration: underline;
}
.events-list {
  max-height: 47px;
  padding-left: 5px;
  display: none;
}
.list-events{
  position: absolute;
  top: 50%;
  margin-top: -12px;
  font-size: 12px;
  left: 10px;
  color: #000;
}
.cal-day-today .list-events{
  color: #fff;
}
.text-today{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 13px;
    right: 6px;
    color: #fff;
    text-transform: uppercase;
}
.cal-column {
  border-left: 1px solid #e1e1e1;
}
a.cal-event-week {
  text-decoration: none;
  color: #151515;
}
.badge-important {
  background-color: #b94a48;
}
.btn-group button[data-calendar-nav]{
    outline: none;
    text-transform: none;
    background: none;
    border: none;
    color: #0f71bc;
    font-size: 32px;
    box-shadow: none;
    padding: 0;
    float: left;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}


.btn-group button[data-calendar-nav] i{
    line-height: 32px;
}
.btn-group button[data-calendar-nav*='today']{
    color: #0f71bc;
    font-size: 14px;
    margin: 0 21px !important;
    padding: 0;
    font-weight: 400;
    line-height: 32px;
}
.cal-month-day.cal-day-outmonth:hover,
.cal-month-day.cal-day-outmonth:hover span[data-cal-date]{
    background: #f1f1f1;
    cursor: default;
    color: #b3b3b3;
}
.cal-week-box{
    background: #f1f1f1;
    padding-bottom: 2px;}
.cal-week-box .text-today{
    display: none;
}
.cal-week-box .cal-row-head [class*="cal-cell"] small{
    border-top: 2px solid #fff;
    display: block;
    margin-top: 10px;
}
.cal-week-box .cal-row-head [class*="cal-cell"],
.cal-week-box .cal-row-head [class*="cal-cell"]:first-child{
    padding-top: 13px;
    border-bottom: none;
}
.cal-week-box .cal-row-head [class*="cal-cell"] small span{
    float: left;
    margin-left: 10px;
}
.cal-week-box hr{
    border: none;
    margin-bottom: 0;
    margin-top: 15px;
}
.cal-week-box .cal-day-today span[data-cal-date],
.cal-week-box .cal-day-today.event-day span[data-cal-date]{
    color: #0f6ab8;
}

.cal-week-box .cal-column{
    border-left-color: #fff;
    border-left-width: 2px;
    left: -2px;
}

.fw-shortcode-calendar .day-highlight{
    background: #c9e4fb;
    border: 1px solid #86b3d9;
    color: #0f6ab8;
    font-size: 13px;
}

.fw-shortcode-calendar .cal-month-box .day-highlight{
    border: none;
    border-right: 2px solid #fff;
}

.fw-shortcode-calendar a.cal-event-week{
    color: #0f6ab8;
}
.fw-shortcode-calendar .day-highlight:hover{
    background-color: #c9e4fb;
}
.fw-shortcode-calendar .day-highlight a:hover{
    text-decoration: underline;
}
#cal-day-box .cal-row-head .events-col{
    display: inline-block;
    width: inherit;
    margin: 10px 0 0 20px;
}
#cal-day-box{
 background-color: #f1f1f1;
 overflow: hidden;
}
#cal-day-box .cal-row-head,
#cal-day-box .cal-day-hour{
    border-bottom: 2px solid #fff;
}
#cal-day-box .cal-day-panel-class .cal-day-hour{
    border-bottom: none;
}
#cal-day-box .time-col{
    border-right: 2px solid #fff;
    height: 100%;
    text-align: center;
}
#cal-day-box .cal-day-hour .time-col b{
    font-weight: 300;
}
#cal-day-box .cal-day-hour .cal-day-hour-part{
    border-bottom: 1px solid #fff;
}
#cal-day-box .cal-day-hour .cal-day-hour-part .time-col{
    box-sizing: content-box;
}
#cal-day-box .cal-day-hour .events-col .day-highlight{
    margin-left: 121px;
}
#cal-day-box .cal-day-hour .events-col{
    position: relative;
    height: 0;
}
#cal-day-box .cal-day-hour .time-col{
    height: 105px;
    display: inline-block;
    box-sizing: content-box;
    margin-left: -2px;
}
#cal-day-box .cal-day-panel-class .day-highlight:first-child{
    margin-left: 50px;
}

/*Responsive*/

/*Screen 1024px*/
@media(max-width:1199px){

}

/*Screen 768px*/
@media(max-width:991px){
    .text-today{
        top: 28px;
        right: 2px;
    }
    .cal-week-box .cal-row-head [class*="cal-cell"] small span{
        font-size: 12px;
    }
}

/*Screen 568px*/
@media(max-width:767px){

}

/*Screen 480px*/
@media(max-width:500px){

}

/*Screen 320px*/
@media(max-width:479px){
    #cal-day-box .day-highlight{
        width: 50%;
    }
}