/* -------------------[ Sales Page Template Styles ]------------------- */

body.sales-letter {
	line-height:1.5em;
	padding: 40px 0;
	background:#eee;
	color:#333;
	font-family:arial,helvetica,sans-serif !important;
	}

.sales-letter p {
	margin-bottom:25px;
	}

.sales-letter #footer {
	color:#666;
	border:0;
	padding:20px 0 0;
	background:transparent;
	width:740px;
	text-align:center;
	}

.sales-letter .post {
	font-size:11pt;
	line-height:1.5em;
	width:610px;
	background:#fff;
	clear: both;
	margin: 0px auto;
	padding:30px 50px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	background:#fff;
	border:0 !important;
	}

.sales-letter .entry img {
	border:0;
	padding:0;
	background:#fff;
        }

.sales-letter .post ul.check {
	margin-left: 0px;
	}

.sales-letter .post ul.check li {
	padding-left:32px;
	margin-bottom: 10px;
	background:url(images/check.gif) 0 4px no-repeat;
	}

.sales-letter .post ul li {
	list-style-type:none;
	padding: 0;
	margin: 0 0 5px;
	padding-left:16px;
	background:url(images/bullet.gif) 0 5px no-repeat;
	}

.sales-letter blockquote.testimonial {
	margin: 0 auto 25px;
	width:80%;
	color:#333;
	border:5px solid #ddd;
	background:#eee;
	font-size:10pt;
	line-height:1.3em;
	padding: 20px 20px 5px;
	}

.sales-letter blockquote.guarantee {
	font-size:10pt;
	line-height:1.3em;
	margin: 0 auto 25px;
	width:60%;
	color:#333;
	border:5px solid #B8D6E5;
	padding: 20px 20px 20px 160px;
	background:#CCEEFF url(images/guar.gif) 20px 20px no-repeat;
	min-height:125px;
	}

.sales-letter blockquote.belcher-button {
	font-size:14pt;
	line-height:1.3em;
	margin: 0 auto 15px;
	width:460px;
	color:#333;
	border:0;
	border: 6px dashed #cc0000;
	text-align:center;
	padding: 20px 40px;
	background:#fff;
	}

.sales-letter h1, 
.sales-letter h2, 
.sales-letter h3, 
.sales-letter h4, 
.sales-letter h5, 
.sales-letter h6 {
	font-family:arial,helvetica,sans-serif !important;
	font-weight:bold !important;
	margin-bottom:15px;
	}