/*  
Theme Name: WP-DaVinci Developer
Theme URL: http://www.solostream.com
Description: WP-DaVinci is a flexible, user-friendly theme framework for WordPress.
Author: Solostream
Author URI: http://www.solostream.com/
Version: 1.0.1

The CSS, XHTML and design are copyright of Solostream. Usage is governed by the Solostream Developer END-USER LICENSE AGREEMENT.

*/

/* --- [ YOU SHOULD NOT CHANGE THIS FILE. Make style changes on the Theme Settings page or on custom.css ] --- */

/* -------------------[ Main Page Elements ]------------------- */

body {
	text-align: left;
	margin: 0;
	padding: 0;
	color:#444;
	line-height:1.5em;
	background:#fff;
	font-size:9pt;
	font-family:arial,helvetica,sans-serif;
	}

#header {
	clear: both;
	margin: 0 auto;
	padding: 0;
	}

#head-content {
	margin: 0 auto;
	padding: 20px 0;
	width:960px;
	height:60px;
	}

#sitetitle {
	margin:0;
	padding:0;
	text-align:left;
	}

#sitetitle .title {
	padding:0;
	margin:0;
	letter-spacing:-1px;
	line-height:1.2em;
	font-size:30px;
	}

#sitetitle .title a {
	color:#000;
	}

#sitetitle .description {
	color:#000;
	padding: 0;
	margin:0;
	font-size:9pt;
	}

#wrap {
	width:960px;
	background:#fff;
	clear: both;
	margin: 30px auto;
	padding:20px;
	}

.limit {
	width:960px;
	margin: 0 auto;
	}

#page {
	padding:0 0 5px;
	clear: both;
	margin: 0 auto;
	background:url(images/pagebg1.gif) 0 0 repeat-y;
	border-top:20px solid #fff;
	border-bottom:20px solid #fff;
	}

#contentleft {
	width: 630px;
	float:left;
	padding:0;
	margin: 0;
	position:relative;
	}

#content {
	width: 630px;
	float:none;
	padding:0;
	margin: 0;
	}

#sidebar-narrow {
	width: 120px;
	float:left;
	padding:0 15px 0 0;
	margin: 0;
	}

#contentright {
	font-size: 9pt;
	width: 300px;	
	float:right;	
	padding: 0;	
	margin: 0;
	}

#sidebar {
	width: 300px;	
	float:none;	
	display:block;
	overflow:hidden;
	}

#sidebar-bottom {
	width: 300px;
	clear:both;
	display: block;
	overflow:hidden;
	padding:0;
	}

#sidebar-bottom-left {
	width:160px;
	float:left;
	padding:0;
	margin:0;
	overflow:hidden;
	}

#sidebar-bottom-right {
	width:120px;
	float:right;
	padding:0;
	margin:0;
	overflow:hidden;
	}

#footer {
	clear: both;
	margin: 0 auto;
	padding: 15px 0;
	border-top:2px solid #eee;
	position:relative;
	font-size:8pt;
	}

.clearfix:after,
blockquote:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

.clearfix,
blockquote {
	display: inline-block;
	}

/* Hides from IE-mac \*/
* html .clearfix,
* html blockquote {
	height: 1%;
	}
.clearfix,
blockquote {
	display: block;
	}
/* End hide from IE-mac */

/* -------------------[ Headings ]------------------- */

h1,h2,h3,h4,h5,h6,h7,#sitetitle .title  {
	font-family:georgia,'times new roman',serif;
	letter-spacing:-1px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-weight:normal;
	color:#000;
	line-height: 1.2em;
	}

h1 {
	font-size: 20pt;
	margin: 0;
	}

h2 {
	font-size: 18pt;
	}

h3 {
	font-size: 16pt;
	}

h4 {
	font-size: 12pt;
	letter-spacing:0;
	}

h5,h6,h7 {
	font-size: 12pt;
	letter-spacing:0;
	}

.entry h1,.entry h2,.entry h3, .entry h4, .entry h5, .entry h6, .entry h7 {
	margin-bottom: 15px;
	}

h3#postinfo, h3#comments, h3#respond, h3#trackbacks, #respond h3  {
	margin: 0;
	}

h3#comments  {
	margin: 0 0 5px;
	}

h3.post-title, h2.post-title {
	font-size: 16pt;
	margin:0 0 5px;
	}

h1.post-title {
	margin:0 0 10px;
	}

h1.archive-title {
	padding:0 0 10px;
	margin:0 0 15px;
	border-bottom:1px dotted #ddd;
	}

h1.page-title {
	padding:0 0 10px;
	margin:0 0 15px;
	border-bottom:1px dotted #ddd;
	}

.sitemap h2 {
	font-size:14pt;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px dotted #ddd;
	letter-spacing:0;
	}

.auth-bio h1 {
	margin:0 0 10px;
	}

h2.feature-title,
h3.widgettitle,
h2.feat-title {
	font-size:16pt;
	margin-bottom:14px;
	padding:0;
	border-bottom:1px dotted #ddd;
	height:30px;
	line-height:30px;
	text-transform:capitalize;
	}

h3.widgettitle,
h2.feat-title {
	height:auto;
	}

h2.feature-title span, 
h3.widgettitle span {
	}

.post-by-2 h2.post-title,
.cats-by-2 h3.post-title,
.cats-by-2 .cat-posts-stacked .cats-by-2 h3.post-title {
	font-size:12pt;
	letter-spacing:0;
	margin-bottom:5px;
	}

/* -------------------[ Links ]------------------- */

a, a:link, a:visited {
	outline:none;
	text-decoration:none;
	color:#336699;
	}

a:hover, a:active {
	text-decoration:none;
	color:#000000;
	}

a.more-link, 
a.more-link:link, 
a.more-link:visited  {
	}

a.more-link:hover, 
a.more-link:active  {
	}

#footer a, #footer a:link, #footer a:visited {
	}

#footer a:hover, #footer a:active {
	}

.post-title a, .post-title a:link, .post-title a:visited {
	color:#333;
	text-decoration:none;
	}

.post-title a:hover, .post-title a:active {
	color:#000;
	}
	
/* -------------------[ Images ]------------------- */

.entry img {
	border:1px solid #ddd;
	padding:5px;
	background:#fff;
        }

img.alignright {
	float: right;
	clear: right;
	margin: 0 0 15px 10px;
        }

img.alignleft {
	float: left;
	clear: left;
	margin: 0 10px 15px 0px;
        }

img.aligncenter, img.centered, img.center { 
	display: block; 
	margin: 0 auto 15px;  
	float: none; 
	clear: both;
        }

img.thumbnail {
	float:left;
	margin: 0 15px 15px 0;
	width:150px;
	}

img.avatar, img.comment-grav,
.singlepost .auth-bio img.avatar {
	border:1px solid #ddd;
	padding:3px;
	background:#fff;
	float:right;
	margin:0 0 10px 10px;
	}

/* -------------------[ Caption Styles for WP 2.6+ ]------------------- */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #fff;
	padding-top:5px;
	margin: 0 10px 10px;
	}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
	}

.wp-caption p.wp-caption-text {
	font-size: 8pt;
	padding: 5px;
	margin: 0;
	}

/* -------------------[ Misc Tags and Classes ]------------------- */

p {
	margin-top: 0px;
	margin-bottom: 15px;
	}

ol {
	margin-left: 40px;
	padding: 0;
	}

ul {
	margin-left: 20px;
	padding: 0;
	}

.post ul, .post ol {
	list-style-type: none;
	}

.post ul li {
	list-style-type:none;
	padding: 0;
	margin: 0 0 2px;
	padding-left:18px;
	background:url(images/bullet.png) 0 1px no-repeat;
	}

.post ul li li {
	padding-left:0;
	background:transparent;
	}

.post ol li {
	list-style-type:decimal;
	margin-left: 0;
	padding-left: 0;
	}

.post ul ul {
	margin-left:0;
	}

form, select {
	margin:0;
	padding:0;
	}

acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px solid #999;
	}

* html acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 0 0 15px;
	color: #666;
	background:#eee;
	padding: 15px 15px 1px;
	border:1px solid #ddd;
	}

.center {
	text-align: center;
	}

a img, img a {
	border: none;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

hr {
        display: block;
        clear:both;
        }

.navigation {
	padding: 0; 
	margin: 0;
	clear:both;
	}

.navigation .alignright {
	width:49%;
	float: right;
	text-align:right;
	}
	
.navigation .alignleft {
	width:49%;
	float: left;
	text-align:left;
	}

.alignright {
	float: right;
	}
	
.alignleft {
	float: left;
	}

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
        float: none; 
        clear: both;
	}

input:focus {
	outline: none;
	}

/* -------- [ Table ] -------- */
	
table {
	border-collapse: collapse;
	margin-bottom: 15px; 
	}

table th {
	background:#eee;
	border: 1px solid #fff;
	padding: 10px; 
	}

table tr {
	background:#eee;
	}

table td {
	border: 1px solid #fff;
	padding: 10px; 
	}

/* -------- [ Calendar Table ] -------- */
	
table#wp-calendar {
	margin-bottom: 0px; 
	width:100%;
	text-align:center;
	border:1px solid #ddd;
	}

table#wp-calendar caption {
	font-size:10pt;
	font-weight:bold;
	padding: 5px;
	}

table#wp-calendar th {
	background:#e5e5e5;
	border: 1px solid #fff;
	padding: 5px; 
	}

table#wp-calendar tr {
	background:#eee;
	}

table#wp-calendar td {
	border: 1px solid #fff;
	padding: 5px; 
	}

table#wp-calendar tfoot td {
	background:#e5e5e5;
	padding: 5px;

	}

/* ---------------[ Related Posts on Single Post Page ]--------------- */

#related {
	padding: 15px;
	margin: 0 0 15px;
	background:#eee;
	border: 1px solid #ddd; 
	}

#related .related-posts {
	font-weight:bold;
	width: 48%;
	float:right;
	}

#related .related-posts p {
	margin:0;
	}

#related .related-posts ol {
	font-weight:normal;
	margin:0 0 0 25px;
	}

#related .related-posts li {
	margin-bottom: 2px;
	}

#related .subscribe {
	width: 50%;
	float:left;
	padding: 0;
	}

#related .subscribe p.intro {
	font-weight:bold;
	}

#related .subscribe p.feed {
	margin-bottom:10px;
	font-weight:bold;
	padding-left: 21px;
	background: url(images/FeedIcon-16.gif) 0px 50% no-repeat;
	}

#related .subscribe form {
	margin:0;
	padding:0;
	}

/* -------------------[ Author Bio Info ]------------------- */

.auth-bio {
	padding: 0;
	margin: 0;
	border:0;
	padding: 15px;
	margin: 0 0 30px;
	background:#eee;
	border: 1px solid #ddd;
	}

.auth-bio img.avatar {
	padding:1px;
	background:#fff;
	border:1px solid #ddd;
	float:right;
	margin:0 0 15px 15px;
	}

p.auth-website {
	width:auto;
	float:left;
	margin: 0;
	padding:0;
	font-weight:bold;
	height:24px;
	line-height:24px;
	}

p.auth-icons {
	width:200px;
	float:right;
	margin: 0;
	padding:0;
	text-align:right;
	height:24px;
	line-height:24px;
	}

p.auth-icons img {
	margin: 0 0 0 2px;
	padding:0;
	border:0;
	}

.singlepost .auth-bio {
	padding: 15px;
	margin: 0 0 15px;
	background:#eee;
	border: 1px solid #ddd; 
	}

.auth-bio h3 span.profile {
	font-family:arial, helvetica, sans-serif;
	font-size:9pt;
	margin:0;
	padding:0 0 0 3px;
	font-weight:normal;
	letter-spacing:0;
	}

/* -------------------[ Comments ]------------------- */

.allcomments {
	padding: 15px 0 0;
	margin:0;
	border-top:2px solid #eee;
	}

.commentlist {
	padding: 0;
	list-style-type:none;
	margin: 0 ;
	}

.post ol.commentlist li {
	background: #eee;
	clear:both;
	margin: 0 0 15px;
	padding: 15px;
	border:1px solid #ddd;
	list-style-type:none;
	}

.commentlist li ul.children li {
	background: #fff;
	}

.commentlist li ul.children li.depth-3,
.commentlist li ul.children li.depth-5,
.commentlist li ul.children li.depth-7,
.commentlist li ul.children li.depth-9 {
	background: #eee;
	}

.commentlist li ul.children {
	margin: 0;
	padding: 0;
	}

.commentlist li ul.children li {
	margin: 15px 0 0;
	}

.commentlist li.alt { }

.commentmetadata {
	display: block;
	margin-bottom:10px;
	font-size: 8pt;
	}

.commentlist cite {
	font-style:normal;
	font-weight:bold;
	}

#commentform {
	padding: 0;
	margin-bottom:0;
	}

#commentform label {
	padding: 0;
	margin: 0 0 0 5px;
	font-size:8pt;
	color:#666;
	}

#commentform input#author,
#commentform input#email,
#commentform input#url,
#commentform textarea {
	padding:7px;
	background:#f7f7f7;
	border-color: #ccc #ddd #ddd #ccc; 
	border-width:1px; 
	border-style:solid;
	width: 250px;
	}

#commentform textarea {
	width:95%;
	}

#commentform input#submit {
	cursor:pointer;
	font-family:arial,helvetica,sans-serif;
	clear:both;
	padding: 5px 20px;
	font-size:10pt;
	text-align:center;
	font-weight:bold;
	color:#fff;
	border:1px solid #000;
	background:#333;
	}

p.button-submit {
	margin:0;
	}

#commentform input#submit:hover {
	color:#ffcc00;
	background:#000;
	}

.thread-alt { }	

.thread-even { }

#respond { 
	margin: 30px 0 15px;
	padding:0;
	clear:both; 
	}

.commentlist #respond { 
	}

.comments-navigation {
	display:block;
	margin: 0;
	padding:10px 0;
	font-weight:bold;
	}

.comments-navigation .alignleft {
	float:left;
	}

.comments-navigation .alignright {
	float:right;
	}

.comments-number {
	font-size:8pt;
	font-weight:bold;
	margin-bottom:0;
	padding:0;
	}

.commentlist img.avatar, 
.commentlist img.comment-grav {
	padding:2px;
	background:#fff;
	border:1px solid #ddd;
	float:right;
	margin:0 0 10px 10px;
	}

.reply {
	margin: 0;
	}

a.comment-reply-link, 
a.comment-reply-link:link, 
a.comment-reply-link:visited, 
.reply a, 
.reply a:link, 
.reply a:visited {
	clear:both;
	padding: 3px 5px;
	font-weight:bold;
	font-size:8pt;
	text-transform:lowercase;
	color:#fff;
	background:#333;
	border:1px solid #000;
	}

a.comment-reply-link:hover, 
a.comment-reply-link:active, 
.reply a:hover, 
.reply a:active {
	color:#ffcc00;
	background:#000;
	}

.post ol.commentlist .comment-body ul {
	list-style-type:disc;
	margin:0 30px 15px;
	padding:0;
	border:none;
	}

.post ol.commentlist .comment-body ul li {
	list-style-type:disc;
	margin:0;
	padding:0;
	border:none;
	}

.post ol.commentlist .comment-body ol {
	list-style-type:decimal;
	margin:0 30px 15px;
	padding:0;
	border:none;
	}

.post ol.commentlist .comment-body ol li {
	list-style-type:decimal;
	margin:0;
	padding:0;
	border:none;
	}

.cancel-comment-reply {
	padding: 5px 0 10px;
	}

/* ---------------[ Site Map Page ]--------------- */

.sitemap .post {
	border:0;
	margin:0;
	padding:0;
	}

.sitemap ul {
	list-style-type:none;
	margin-top: 0;
	margin-left: 5px;
	margin-bottom:15px;
	}

.sitemap ul ul {
	margin-left: 0;
	margin-bottom:0;
	}

.sitemap ul ul ul {
	margin-left: 15px;
	}

.sitemap-narrow {
	width:40%;
	float:right;
	padding: 0;
	margin:0 0 15px;
	}

.sitemap-wide {
	width:55%;
	float:left;
	}

.sitemap-post p {
	margin:0 0 10px;
	border-bottom:1px dotted #ddd;
	padding:0 0 10px;
	}

/* -------------------[ Top Navigation ]------------------- */

#topnav {
	padding:0; 
	margin:0;
	background:#E5F2FF;
	}

#topnav .limit {
	z-index:999999;
	position:relative;
	}

#topnav ul,
#topnav .menu { 
	width:730px; 
	}

#topnav ul { 
	z-index:99; 
	margin:0; 
	padding:0; 
	list-style:none; 
	line-height:1; 
	margin:0;
	}

#topnav ul a  {
	position:relative; 
	display:block; 
	z-index:100; 
	padding:5px 10px; 
	line-height:24px; 
	text-decoration:none; 
	}

#topnav ul li  { 
	float:left; 
	width: auto; 
	}

#topnav ul a:hover { }

#topnav ul ul  { 
	position: absolute; 
	left: -999em; 
	width: 200px; 
	z-index:99999;
	border-bottom: 1px solid #fff;
	}

#topnav ul ul a  {
	width:180px; 
	line-height:20px;
	border: 1px solid #fff;
	border-bottom:0;
	background:#E5F2FF;
	color:#006699; 
	}

#topnav ul ul a:hover  {
	color:#000; 
	}

#topnav ul ul ul  { 
	margin: -31px 0 0 200px; 
	}

#topnav ul li li { 
	margin:0;
	border:0;
	}

#topnav ul li:hover,
#topnav ul li.hover  { 
	position:static;
	}

#topnav ul li:hover ul ul, 
#topnav ul li.sfhover ul ul,
#topnav ul li:hover ul ul ul, 
#topnav ul li.sfhover ul ul ul,
#topnav ul li:hover ul ul ul ul, 
#topnav ul li.sfhover ul ul ul ul { 
	left:-999em; 
	}

#topnav ul li:hover ul, 
#topnav ul li.sfhover ul,
#topnav ul li li:hover ul, 
#topnav ul li li.sfhover ul,
#topnav ul li li li:hover ul, 
#topnav ul li li li.sfhover ul,
#topnav ul li li li li:hover ul, 
#topnav ul li li li li.sfhover ul { 
	left:auto; 
	}

/* -------------------[ Category Navigation ]------------------- */

#catnav {
	padding:0; 
	margin:0;
	background:#000;
	}

#catnav ul { 
	z-index:99; 
	margin:0; 
	padding:0; 
	list-style:none; 
	line-height:1; 
	margin:0;
	}

#catnav ul li  { 
	float:left; 
	width: auto; 
	}

#catnav ul a  {
	position:relative; 
	display:block; 
	z-index:100; 
	padding:5px 10px; 
	line-height:20px; 
	text-decoration:none;
	color:#ddd; 
	}

#catnav ul a:hover {
	color:#fff; 
	}

#catnav ul ul  { 
	position: absolute; 
	left: -999em; 
	width: 200px; 
	z-index:99999;
	border-bottom: 1px solid #333;
	}

#catnav ul ul a  {
	width:180px; 
	line-height:20px;
	border: 1px solid #333;
	border-bottom:0;
	background:#000;
	color:#ddd; 
	}

#catnav ul ul a:hover  {
	color:#fff; 
	}

#catnav ul ul ul  { 
	margin: -31px 0 0 200px; 
	}

#catnav ul li li { 
	margin:0;
	border:0;
	}

#catnav ul li:hover,
#catnav ul li.hover  { 
	position:static;
	}

#catnav ul li:hover ul ul, 
#catnav ul li.sfhover ul ul,
#catnav ul li:hover ul ul ul, 
#catnav ul li.sfhover ul ul ul,
#catnav ul li:hover ul ul ul ul, 
#catnav ul li.sfhover ul ul ul ul { 
	left:-999em; 
	}

#catnav ul li:hover ul, 
#catnav ul li.sfhover ul,
#catnav ul li li:hover ul, 
#catnav ul li li.sfhover ul,
#catnav ul li li li:hover ul, 
#catnav ul li li li.sfhover ul,
#catnav ul li li li li:hover ul, 
#catnav ul li li li li.sfhover ul { 
	left:auto; 
	}

/* --------------[ Basic Post Classes ]-------------- */

.post, .page.hentry {
	margin: 0 0 20px;
	padding:0;
	clear:both;
	}

.entry {
	margin: 0;
	padding: 0;
	}

.singlepost .entry,
.singlepage .entry {

	}

.singlepost .post {
	margin-bottom:20px;
	border-bottom:1px dotted #ddd;
	}

.singlepage .post {
	margin-bottom:0;
	}

.meta {
	margin: 0 0 15px;
	padding:0 5px;
	border:1px solid #ddd;
	height:24px;
	line-height:24px;
	font-size:8pt;
	background:#eee;
	position:relative;
	z-index:1;
	}

.meta a.more-link {
	position:absolute;
	right: 5px;
	top:0;
	z-index:2;
	height:24px;
	line-height:24px;
	background:url(images/arrow-right.png) 100% 5px no-repeat;
	padding-right:17px;
	}

.meta a.more-link:hover {

	}

.meta-commments {
	}

.meta-author {
	}

.meta-date {
	}

p#breadcrumbs {
	height:auto;
	line-height:30px;
	padding: 0;
	margin: 0 auto 20px;
	clear:both;
	border-bottom:1px dotted #ddd;
	font-size:8pt;
	background:#fff;
	font-family:arial,helvetica,sans-serif;
	font-size:8pt;
	}

p.tags {
	margin-bottom:3px;  
	background:url(images/tag.gif) 0 3px no-repeat;
	padding-left:16px;
	clear:both;
	}

p.cats {
	background:url(images/folder.gif) 0 3px no-repeat;
	padding-left:16px;
	clear:both;
	}

.single-video {
	padding:4px;
	background:#fff;
	border:1px solid #ddd;
	margin: 0 auto 20px;
	}

/* --------------[ Home Page Option 2 - 2 Posts Aligned Side-by-Side ( index2 ) ]-------------- */

.post-by-2 {
	margin: 0;
	padding: 0;
	overflow:hidden;
	}

.post-left {
	clear:left;
	float:left;
	width: 48.5%;
	margin: 0 0 15px;
	padding:0;
	}

.post-right {
	clear:right;
	float:right;
	width: 48.5%;
	margin: 0 0 15px;
	padding:0;
	background:#fff;
	}

.post-by-2 .post,
.post-by-2 .page {
	margin: 0;
	padding: 0;
	background:transparent;
	overflow:hidden;
	border:0;
	}

.post-by-2 img.thumbnail {
	float:right;
	margin: 0 0 5px 5px;
	width:60px;
	padding:1px;
	}

.post-clear {
	clear:both;
	height:0;
	padding:0;
	background:transparent;
	}

.post-by-2 .entry {
	height:135px;
	overflow:hidden;
	margin: 0 0 15px;
	}

/* -------------------[ Home Page Option 4 - Posts Arranged by Category Side-by-Side ( index4 ) ]------------------- */

.cats-by-2 {
	margin: 0;
	padding: 0;
	background:transparent;
	overflow:hidden;
	}

.cat-posts-left {
	clear:left;
	float:left;
	width: 48.5%;
	margin: 0 0 15px;
	padding:0;
	}

.cat-posts-right {
	clear:right;
	float:right;
	width: 48.5%;
	margin: 0 0 15px;
	padding:0;
	}

.cats-by-2 .post {
	margin: 0;
	padding: 0;
	background:transparent;
	overflow:hidden;
	border:0;
	}

.cats-by-2 img.thumbnail,
.cat-posts-widget img.thumbnail {
	float:right;
	margin: 0 0 5px 5px;
	width:60px;
	padding:1px;
	}

.cats-by-2 .entry,
.cat-posts-widget .entry {
	height:135px;
	overflow:hidden;
	margin: 0 0 15px;
	}

/* -------------------[ Home Page Option 5 - Posts Arranged by Category Stacked ( index5 ) ]------------------- */

.cats-by-2 .cat-posts-stacked .entry {
	height:auto;
	overflow:hidden;
	margin: 0;
	}

.cats-by-2 .cat-posts-stacked img.thumbnail {
	float:left;
	margin: 0 15px 15px 0;
	width:150px;
	}

/* -------------------[ Widgets ]------------------- */

.widget {
	margin: 0 0 30px;
	padding:0;
	overflow:hidden;
	}

.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.widget li {
	list-style-type: none;
	margin: 0 0 5px;
	padding: 0 0 0 18px;
	background:url(images/bullet.png) 0 1px no-repeat;
	}

.widget .textwidget {

	}

.widget li li {
	list-style-type: none;
	margin: 0;
	border:0;
	padding: 0;
	background:transparent;
	}

.widget li li li {
	padding-left: 15px;
	}

/* -------------------[ Sidebar Bottom Widgets ]------------------- */

#sidebar-bottom .widget { }
#sidebar-bottom .widget li { }
#sidebar-bottom .widget .textwidget { }
#sidebar-bottom h3.widgettitle { }

/* -------------------[ Footer Widgets ]------------------- */

#footer-widgets {
	clear: both;
	margin: 0 auto;
	padding:30px 0 20px;
	width:960px;
	border-top:2px solid #eee;
	}

#footer-widgets .content { }

#footer-widgets .widget {
	margin: 0 0 10px;
	}

#footer-widgets .widget li { }

#footer-widgets .widget .textwidget { }

#footer-widgets a,
#footer-widgets a:link,
#footer-widgets a:visited { }

#footer-widgets a:active,
#footer-widgets a:hover { }

#footer-widgets .footer-widget1 {
	float:left;
	width:290px;
	margin: 0 20px 0 0;
	overflow:hidden;
	}

#footer-widgets .footer-widget2 {
	float:left;
	width:290px;
	margin: 0 20px 0 0;
	overflow:hidden;
	}

#footer-widgets .footer-widget3 {
	float:left;
	width:160px;
	margin: 0;
	overflow:hidden;
	}

#footer-widgets .footer-widget4 {
	float:right;
	width:160px;
	margin: 0;
	overflow:hidden;
	}

.widget_flickrRSS img {
	margin: 0 8px 8px 0;
	background: #fff;
	padding: 2px;
	width:75px;
	height:75px;
	border:1px solid #ddd;
	background:#fff;
	}

/* -------------------[ Side Tabs Widget ]------------------- */

.widget.sidetabs {
	background: #fff;
	padding:0;  
	}

.widget.sidetabs ul.tabs {  
	list-style-type:none;
	margin: 0;
	padding: 0;
	clear:both;
	border-bottom:1px solid #fff;
	}

.widget.sidetabs ul.tabs li {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	background:transparent;
	}
 
.widget.sidetabs ul.tabs li a, 
.widget.sidetabs ul.tabs li a:link, 
.widget.sidetabs ul.tabs li a:visited  {
	float: left;
	display: block;
	padding: 0 8px;
	font-size:8pt;
	font-weight:bold;
	height:30px;
	line-height:30px;
	color:#333;
	border-right:1px solid #fff;
	}

.widget.sidetabs ul.tabs li a:hover, 
.widget.sidetabs ul.tabs li a:active {
	background:#eee;
	color:#000;
	}

.widget.sidetabs ul.tabs li.ui-tabs-selected a,
.widget.sidetabs ul.tabs li.ui-tabs-selected a:link,
.widget.sidetabs ul.tabs li.ui-tabs-selected a:visited {
	background:#eee;
	color:#000;
	}

.widget.sidetabs form {
	margin: 0 !important;
	padding: 0 !important;
	color:#888;
	}

.widget.sidetabs select {
	margin: 0;
	padding: 0;
	width:160px;
	color:#888;
	}

.widget.sidetabs li { }

.widget.sidetabs .cat_content {
	background:#eee;
	padding:5px;
	}

.widget.sidetabs .cat_content ul {
	border:1px solid #ddd;
	border-bottom:0;
	}

.widget.sidetabs .cat_content li {
	padding: 10px 10px 10px 24px;
	background:#fff url(images/bullet.png) 7px 11px no-repeat;
	margin:0;
	border-bottom:1px solid #ddd;
	}

.widget.sidetabs .cat_content li a,
.widget.sidetabs .cat_content li a:link,
.widget.sidetabs .cat_content li a:visited,
.widget.sidetabs .cat_content ul.side-arc li { }

.widget.sidetabs .cat_content ul.side-arc li { }

.widget.sidetabs .cat_content ul.side-arc li p.title {
	float:left;
	width:75px;
	margin: 0;
	}

.widget.sidetabs .cat_content ul.side-arc li select {
	float:left;
	width:160px;
	padding:2px;
	border:1px solid #ddd;
	}

.widget.sidetabs .cat_content ul.side-arc li form { }

.widget.sidetabs .popular p {
	padding: 10px 10px 10px 26px;
	background:#fff url(images/bullet.png) 7px 11px no-repeat;
	margin:0;
	border:1px solid #ddd;
	}

.widget.sidetabs .popular li a,
.widget.sidetabs .popular li a:link,
.widget.sidetabs .popular li a:visited { }

.widget.sidetabs .side-recent-comments li a,
.widget.sidetabs .side-recent-comments li a:link,
.widget.sidetabs .side-recent-comments li a:visited { }

.widget.sidetabs .cat_content li a:hover,
.widget.sidetabs .cat_content li a:active,
.widget.sidetabs .cat_content .popular li a:hover,
.widget.sidetabs .cat_content .popular li a:active,
.widget.sidetabs .cat_content .side-recent-comments li a:hover,
.widget.sidetabs .cat_content .side-recent-comments li a:active { }

.widget.sidetabs .ui-tabs-hide {  
	display: none;  
	}

/* -------------------[ Category Posts Widget ]------------------- */

.widget.catposts {

	}

.cat-posts-widget img.thumbnail {
	float:right;
	margin: 0 0 0 10px;
	width:auto;
	padding:1px;
	height:5.1em;
	}

.cat-posts-widget .meta {
	margin-bottom: 10px;
	border-top:0;
	background:transparent;
	border:0;
	border-bottom:1px dotted #ddd;
	padding:0;
	}

.cat-posts-widget .post {
	margin-bottom: 0;
	}

.cat-posts-widget .entry {
	overflow:hidden;
	margin: 0 0 5px;
	line-height:1.4em;
	height:5.6em;
	}

.cat-posts-widget p.post-title {
	font-weight:bold;
	margin-bottom: 0;
	}

/* -------------------[ 300x250 Banner Ad Widget ]------------------- */

.widget.banner300 { 
	padding:0 !important;
	background:transparent !important;
	border:0 !important;
	}

/* -------------------[ Subscribebox Widget ]------------------- */

.widget.subscribebox { }

.widget.subscribebox form { }

/* ---------[ Email Form and Search Form ]--------- */

form#searchform,
p.email-form  {
	width:200px;
	height:24px;
	padding:0;
	margin:0;
	background: url(images/formbg.gif) top right no-repeat;
	border:0;
	}

#searchform #searchfield,
p.email-form .sub {
	color:#aaa;
	float:left;
	padding:0;
	width:130px;
	margin: 4px 0 0 4px;
	border:0;
	background:transparent;
	text-transform:lowercase;
	}

#searchform #submitbutton,
p.email-form .subbutton {
	margin: 0;
	float:right;
	width:60px;
	height:24px;
	line-height:24px;
	text-align:center;
	border:0;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	background: transparent;
	cursor:pointer;
	padding:0;
	font-family:arial,helvetica,sans-serif;
	color:#fff;
	text-shadow: #333 0px 0px 3px;
	}

#searchform #submitbutton:hover,
p.email-form .subbutton:hover {
	color:#99EBFF;
	}

#topnav form#searchform {
	position:absolute;
	top:5px;
	right:5px;
	}

/* -------------------[ YouTube Videos Widget ]------------------- */

#slideshowvids {
	border:1px solid #ddd;
	background:#eee;
	margin:0;
	padding:0;
	}

#slideshowvids .slides {
	padding:9px;
	width:280px;
	height:230px;
	background:#eee;
	overflow:hidden;
	}

#slideshowvids .slides li {
	padding:4px;
	width:270px;
	height:220px;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
	}

#slideshowvids .slides-nav li {
	padding:5px 10px;
	border-top:1px solid #ddd;
	margin:0;
	background-image:none;
	}

#slideshowvids .slides-nav li a.activeSlide {
	color:#000;
	font-weight:bold;
	}

/* ---------------[ Ad Banners ]--------------- */

.head-banner468 {
	float:right;
	width:468px;
	overflow:hidden;
	padding:0;
	margin:0;
	}

.banner468 {
	text-align:center;
	margin: 0 auto 15px;
	padding:0 0 20px;
	float:none;
	display:block;
	border-bottom:1px dotted #ddd;
	}

.banner728-container {
	width:960px;
	text-align:center;
	margin: 0 auto;
	padding:12px 0;
	float:none;
	display:block;
	border-bottom:2px solid #eee;
	}

.banner728-container.bottom {
	width:960px;
	text-align:center;
	margin: 0 auto;
	padding:12px 0;
	float:none;
	display:block;
	border:0;
	border-top:2px solid #eee;
	}

.banner728 {
	margin: 0 auto;
	padding:0;
	float:none;
	display:block;
	width:100%;
	}

.banner728.left {
	margin: 0;
	float:left;
	width:728px;
	}

.banner220 {
	margin: 0;
	padding:0;
	float:right;
	text-align:right;
	width:220px;
	display:block;
	}

.banner125 { 

	}

.banner125 .ad img {
	float:left;
	width:125px;
	height:125px;
	margin:0 0 6px 0;
	padding:10px;
	background:#eee;
	border:1px solid #ddd;
	}

.banner125 .ad.right img {
	float:right;
	margin-right:0;
	}

/* -------------------[ Social Media Icons ]------------------- */

.sub-icons {
	padding:0;
	margin:15px 0 0;
	}

.sub-icons a {
	margin:0 0 0 5px;
	float:left;
	background:transparent;
	padding:0;
	display:block;
	}

.widget .sub-icons a {
	margin:0 5px 0 0;
	}

#footer .sub-icons {
	position:absolute;
	top: 10px;
	right:0; 
	z-index:9999;
	margin:0;
	}

/* ---------[ Narrow Slideshow ]--------- */

#home-top-narrow {
	margin:0 auto;
	padding:0;
	border-bottom:20px solid #fff;
	background:#fff;
	}

#home-top-narrow #slideshow {
	height:246px;
	width:100%;
	margin: 0;
	padding:0;
	position:relative;
	z-index:1;
	overflow:hidden;
	}

#home-top-narrow #slideshow ul {
	background:transparent;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}           

/* ---------[ Narrow Slideshow Slides ]--------- */

#home-top-narrow #slideshow .slides,
#home-top-narrow #slideshow .slides ul,
#home-top-narrow #slideshow .slides li,
.js #home-top-narrow #slideshow .slides li {
	height:205px;
	}

#home-top-narrow #slideshow .slides {
	overflow: hidden;
	clear:both;
	margin:0;
	padding:0;
	border:0;
	}

#home-top-narrow #slideshow .slides ul,
#home-top-narrow #slideshow .slides li,
.js #home-top-narrow #slideshow .slides li {
	list-style-type:none;
	overflow: hidden;
	background:#fff; 
	}

#home-top-narrow #slideshow .slides li {
	margin: 0;
	padding: 0;
	}

.js #home-top-narrow #slideshow .slides li {
	margin: 0;
	padding: 0;
	}

#home-top-narrow #slideshow img.thumbnail {
	height:150px;
	padding:4px;
	}

#home-top-narrow #slideshow .slides li .entry {
	text-align:left;
	overflow:hidden;
	margin:0;
	float:none;
	padding: 0;
	width:auto;
	float:none;
	height:160px;
	overflow:hidden;
	margin-bottom:15px;
	}

#home-top-narrow #slideshow .slides li .entry h2.post-title, 
#home-top-narrow #slideshow .slides li .entry h2.post-title a, 
#home-top-narrow #slideshow .slides li .entry h2.post-title a:link,
#home-top-narrow #slideshow .slides li .entry h2.post-title a:visited,
#home-top-narrow #slideshow .slides li .entry h2.post-title a:hover,
#home-top-narrow #slideshow .slides li .entry h2.post-title a:active {
	line-height: 1.0em;
	font-size:16pt;
	margin-bottom:15px;
	}

/* ---------[ Narrow Slideshow Navigation ]--------- */

#home-top-narrow #slideshow  ul.slides-nav {
	margin:0;
	padding: 0;
	position:absolute;
	bottom:auto;
	top:10px;
	right:0;
	z-index:10;
	height:14px;
	line-height:14px;
	}

.js #home-top-narrow #slideshow .slides-nav li,
#home-top-narrow #slideshow .slides-nav li {
	margin:0 0 0 3px;
	padding:0;
	list-style-type:none;
	float:left  !important;
	display:inline !important;
	height:14px;
	line-height:14px;
	width:14px;
	}

.js #home-top-narrow #slideshow .slides-nav li a,
#home-top-narrow #slideshow .slides-nav li a {
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	height:12px;
	line-height:14px;
	width:12px;
	border:1px solid #ddd;
	background:#eee;
	}

#home-top-narrow #slideshow .slides-nav li.on a, 
.js #home-top-narrow #slideshow .slides-nav li.on a,
.js #home-top-narrow #slideshow .slides-nav li a:hover,
.js #home-top-narrow #slideshow .slides-nav li a:active {
	background:#fff;
	}

/* ---------[ Wide Slideshow ]--------- */

#home-top {
	margin:20px auto 0;
	padding:0;
	background:#fff;
	}

#home-top #slideshow {
	height:355px;
	width:960px;
	margin: 0;
	padding:0;
	position:relative;
	z-index:1;
	background:#fff;
	margin:0 auto;
	overflow:hidden;
	}

#home-top #slideshow ul {
	background:transparent;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}           

/* ---------[ Slideshow Slides ]--------- */

#home-top #slideshow .slides {
	overflow: hidden;
	clear:both;
	margin:0;
	height: 300px;
	width:950px;
	background:#fff;
	padding:4px;
	border:1px solid #e5e5e5;
	}

#home-top #slideshow .slides li,
.js #home-top #slideshow .slides li {
	list-style-type:none;
	overflow: hidden;
	background:#eee;
	height:260px;
	width:910px; 
	margin: 0;
	padding: 19px;
	border:1px solid #e5e5e5;
	}

#home-top #slideshow .feature-image,
#home-top #slideshow .feature-video {
	height:250px;
	width:375px;
	padding:4px;
	float:right;
	margin: 0 0 0 50px;
	border:1px solid #ddd;
	background:#fff;
	}

#home-top #slideshow img.home_feature {
	height:250px;
	width:375px;
	padding:0;
	margin:0;
	float:none;
	border:0;
	}

#home-top #slideshow .slides li.full-width,
.js #home-top #slideshow .slides li.full-width {
	position:relative;
	z-index:1;
	background:#eee;
	height:300px;
	width:950px; 
	margin: 0;
	padding: 0;
	border:0;
	}

#home-top #slideshow .full-width .feature-image {
	height:300px;
	width:950px;
	padding:0;
	float:none;
	margin: 0;
	border:0;
	}

#home-top #slideshow .full-width img.home_feature {
	height:300px;
	width:950px;
	padding:0;
	margin:0;
	float:none;
	border:0;
	}

#home-top #slideshow .full-width .entry .wide-feat-content {
	z-index:2;
	position:absolute;
	width:930px;
	padding:10px;
	left:0;
	bottom:0;
	background:#000;
	color:#fff;
	overflow:hidden;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	}

#home-top #slideshow .slides li .entry {
	text-align:left;
	overflow:hidden;
	margin:0;
	float:none;
	padding: 0;
	width:auto;
	float:none;
	height:260px;
	overflow:hidden;
	margin-bottom:0;
	}

#home-top #slideshow .slides li.full-width .entry {
	height:auto;
	}

#home-top #slideshow .meta {
	border:0;
	padding:0;
	margin: 0 0 10px;
	background:transparent;
	height:24px;
	line-height:24px;
	}

#home-top #slideshow .meta a.more-link {
	position: static;
	height: 24px;
	line-height: 24px;
	background: transparent url(images/arrow-right.png) 100% 0 no-repeat;
	padding-right: 17px;
	}

#home-top #slideshow .full-width .meta {
	z-index:9999;
	position:absolute;
	left:-999em;
	display:none;
	text-indent:-999em;
	line-height:0;
	}

#home-top #slideshow .slides li .entry h2.post-title, 
#home-top #slideshow .slides li .entry h2.post-title a, 
#home-top #slideshow .slides li .entry h2.post-title a:link,
#home-top #slideshow .slides li .entry h2.post-title a:visited,
#home-top #slideshow .slides li .entry h2.post-title a:hover,
#home-top #slideshow .slides li .entry h2.post-title a:active {
	line-height: 1.0em;
	font-size:16pt;
	margin-bottom:5px;
	}

#home-top #slideshow .slides li.full-width .entry p {
    margin-bottom:0;
    }

#home-top #slideshow .slides li.full-width .entry h2.post-title, 
#home-top #slideshow .slides li.full-width .entry h2.post-title a, 
#home-top #slideshow .slides li.full-width .entry h2.post-title a:link,
#home-top #slideshow .slides li.full-width .entry h2.post-title a:visited,
#home-top #slideshow .slides li.full-width .entry h2.post-title a:hover,
#home-top #slideshow .slides li.full-width .entry h2.post-title a:active {
	margin-bottom:0;
	color:#fff !important;
	}

/* ---------[ Slideshow Navigation ]--------- */

#home-top #slideshow  ul.slides-nav {
	margin:0;
	padding: 0;
	position:absolute;
	bottom:auto;
	top:10px;
	right:0;
	z-index:9999;
	height:14px;
	line-height:14px;
	}

.js #home-top #slideshow .slides-nav li,
#home-top #slideshow .slides-nav li {
	margin:0 0 0 3px;
	padding:0;
	list-style-type:none;
	float:left  !important;
	display:inline !important;
	height:14px;
	line-height:14px;
	width:14px;
	}

.js #home-top #slideshow .slides-nav li a,
#home-top #slideshow .slides-nav li a {
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	height:12px;
	line-height:14px;
	width:12px;
	border:1px solid #ddd;
	background:#eee;
	}

#home-top #slideshow .slides-nav li.on a, 
.js #home-top #slideshow .slides-nav li.on a,
.js #home-top #slideshow .slides-nav li a:hover,
.js #home-top #slideshow .slides-nav li a:active {
	background:#fff;
	}

/* ---------[ Slideshow Feature Videos ]--------- */

#feature-vids {
	background:#fff;
	border-bottom:20px solid #fff;
	}

#slideshowfeaturevids {
	margin: 0 auto;
	width:610px;
	padding:9px;
	position:relative;
	z-index:1;
	background:#fff;
	border:1px solid #e5e5e5;
	}

#slideshowfeaturevids ul,
#slideshowfeaturevids li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

/* ---------[ Slideshow Feature Videos Slides ]--------- */

#slideshowfeaturevids .slides,
#slideshowfeaturevids .slides ul,
#slideshowfeaturevids .slides li,
.js #slideshowfeaturevids .slides li {
	width:610px;
	height:310px;
	padding:0;
	background:#fff;
	overflow: hidden;
	position:static;
	display:block;
	margin:0;
	padding:0;
	}

#slideshowfeaturevids .slides ul { }

#slideshowfeaturevids .slides li { }

.js #slideshowfeaturevids .slides li { }

#slideshowfeaturevids .feature-vid {
	display:block;
	margin:0;
	padding:0;
	width:610px;
	height:300px;
	}

/* ---------[ Slideshow Feature Videos Navigation ]--------- */

#slideshowfeaturevids ul.slides-nav {
	width:610px;
	height:240px;
	margin:0;
	padding:0;
	overflow:hidden;
	clear:both;
	}

.js #slideshowfeaturevids .slides-nav li,
#slideshowfeaturevids .slides-nav li {
	margin:0 11px 20px 0;
	padding:10px;
	list-style-type:none;
	width:174px;
	height:218px;
	float:left;
	outline:none;
	border:1px solid #eee;
	display:block;
	overflow:hidden;
	color:#333;
	background:#fff;
	}

.js #slideshowfeaturevids .slides-nav li.on,
#slideshowfeaturevids .slides-nav li.on {
	background:#f5f5f5
	}

.js #slideshowfeaturevids .slides-nav li div,
#slideshowfeaturevids .slides-nav li div {
	font-size:8pt;
	line-height:1.40em;
	height:5.4em;
	overflow:hidden;
	display:block;
	padding: 0 5px;
	margin: 0 0 10px;
	}

.js #slideshowfeaturevids .slides-nav li .slider-thumb,
#slideshowfeaturevids .slides-nav li .slider-thumb {
	width:150px;
	height:100px;
	float:none;
	display:block;
	padding:0;
	margin:0 0 10px 0;
	border:12px solid #f5f5f5;
	background:#eee;
	overflow:hidden !important;
	}

.js #slideshowfeaturevids .slides-nav li.on .slider-thumb,
#slideshowfeaturevids .slides-nav li.on .slider-thumb {
	border:12px solid #fff;
	}

.js #slideshowfeaturevids .slides-nav li .slider-thumb a,
#slideshowfeaturevids .slides-nav li .slider-thumb a {
	width:150px;
	height:100px;
	float:none;
	display:block;
	padding:0;
	margin:0;
	border:0;
	overflow:hidden;
	}

.js #slideshowfeaturevids .slides-nav li img.thumbnail,
#slideshowfeaturevids .slides-nav li img.thumbnail {
	width:150px;
	float:none;
	display:block;
	padding:0;
	margin:-25px 0 0;
	border:0;
	background:transparent;
	padding:0;

	}

.js #slideshowfeaturevids a,
#slideshowfeaturevids a {
	outline:none;
	}

/* ---------[ Slideshow Feature Videos Navigation Slider ]--------- */

#slider-nav { 
	height: 282px; 
	overflow:hidden; 
	}

#slider-nav .slidenav { 
	height: 20px;
	line-height:20px; 
	overflow:hidden; 
	clear:both;
	margin: 0 0 10px;
	background:#f5f5f5;
	border:1px solid #eee;
	padding:5px 5px 5px 10px;
	font-size:10pt;
	position:relative;
	z-index:1;
	}

#slider-nav .buttons {
	margin: 0;
	padding: 0px 5px;
	background:#fff;
	border:1px solid #eee;
	color:#666;
	display:block;
	height:18px;
	line-height:18px;
	font-size:12pt;
	outline:none;
	position:absolute;
	z-index:2;
	top:5px;
	right:27px;
	}

#slider-nav .next { 
	right:5px;
	}

#slider-nav a.disable {
	color:#ddd;
	}

#slider-nav .slideport { 
	width: 610px; 
	height: 240px; 
	overflow: hidden; 
	position: relative;
	float:left; 
	}

#slider-nav .slideview { 
	list-style: none; 
	position: absolute; 
	padding: 0; 
	margin: 0; 
	left: 0; 
	top: 0; 
	}

#slider-nav .slideview li { 
	float: left; 
	margin: 0; 
	padding:0; 
	height: 240px; 
	width: 196px;
	}

#slider-nav .view {
	font-weight:bold;
	cursor:pointer;
	color:#006699;
	font-size:8pt;
	margin:0 5px;
	}

#slider-nav .view:hover {
	color:#000;
	}

/* ---------[ Recent Galleries ]--------- */

#slider-nav-galleries { 
	overflow:hidden;
	margin:0 auto;
	padding: 0;
	width:100%;
	background:#fff;
	border-bottom:20px solid #fff; 
	}

#slider-nav-galleries .slidenav { 
	height: 20px;
	line-height:20px; 
	overflow:hidden; 
	clear:both;
	margin: 0 0 10px;
	background:#f5f5f5;
	border:1px solid #eee;
	padding:5px 5px 5px 10px;
	font-size:10pt;
	position:relative;
	z-index:1;
	}

#slider-nav-galleries .buttons {
	margin: 0;
	padding: 0px 5px;
	background:#fff;
	border:1px solid #eee;
	color:#666;
	display:block;
	height:18px;
	line-height:18px;
	font-size:12pt;
	outline:none;
	position:absolute;
	z-index:2;
	top:5px;
	right:27px;
	}

#slider-nav-galleries .next { 
	right:5px;
	}

#slider-nav-galleries a.disable {
	color:#ddd;
	}

#slider-nav-galleries .slideport { 
	width: 100%; 
	height: 210px; 
	overflow: hidden; 
	position: relative;
	float:left;
	border-bottom:1px dotted #ddd; 
	}

#slider-nav-galleries .slideview { 
	list-style: none; 
	position: absolute; 
	padding: 0; 
	margin: 0; 
	left: 0; 
	top: 0; 
	}

#slider-nav-galleries .slideview li { 
	float: left; 
	margin: 0 10px 15px 0; 
	padding:0; 
	height: 200px; 
	width: 150px;
	}

.gallery-post p.gallery-title {
	margin: 0;
	font-weight:bold;
	text-align:center;
	padding:5px 5px 0;
	}

.gallery-post img.thumbnail {
	display:block;
	float:none;
	margin: 0;
	border:1px solid #eee;
	padding:3px;
	background:#fff;
	width:142px;
	}

/* ---------[ Sidebar-Wide | Content ]--------- */

.sw-c #page {
	background:url(images/dot.gif) 315px 0 repeat-y;
	}

.sw-c #contentleft {
	float:right;
	}

.sw-c #contentright {
	float:left;
	}

.sw-c #page {
	background:url(images/pagebg2.gif) 0 0 repeat-y;
	}

/* ---------[ Content | Sidebar-Narrow | Sidebar-Wide ]--------- */

.c-sn-sw #content {
	width: 480px;
	float:left;
	}

.c-sn-sw #sidebar-narrow {
	float:right;
	padding:0 0 0 15px;
	}

.c-sn-sw #page {
	background:url(images/pagebg3.gif) 0 0 repeat-y;
	}

/* ---------[ Sidebar-Narrow | Content | Sidebar-Wide ]--------- */

.sn-c-sw #content {
	width: 480px;
	float:right;
	}

.sn-c-sw #page {
	background:url(images/pagebg4.gif) 0 0 repeat-y;
	}

/* ---------[ Sidebar-Wide | Sidebar-Narrow | Content ]--------- */

.sw-sn-c #page {
	background:url(images/pagebg5.gif) 0 0 repeat-y;
	}

.sw-sn-c #contentleft {
	float:right;
	}

.sw-sn-c #content {
	width: 480px;
	float:right;
	}

.sw-sn-c #contentright {	
	float:left;	
	}

/* ---------[ Sidebar-Wide | Content | Sidebar-Narrow ]--------- */

.sw-c-sn #page {
	background:url(images/pagebg6.gif) 0 0 repeat-y;
	}

.sw-c-sn #contentleft {
	float:right;
	}

.sw-c-sn #contentright {
	float:left;	
	}

.sw-c-sn #content {
	width: 480px;
	float:left;
	padding:0;
	margin: 0;
	}

.sw-c-sn #sidebar-narrow {
	float:right;
	padding:0 0 0 15px;
	}

/* ---------[ Full-Width Layout Styles ]--------- */

.fwidth #page {
	background:transparent;
	}

.fwidth #contentleft {
	width: 100%;
	float:none;
	}

.fwidth #content {
	width: 100%;
	}

/* -------------------[ Tabbed Archives Page Template ]------------------- */

.post ul.archives-by-cat {
	margin: 5px 0 15px;
	padding: 0 0 12px;
	border-bottom:1px dotted #ddd;
	}

.post ul.archives-by-cat li {
	padding:0;
	background:transparent;
	margin: 0 0 3px;
	}

.post ul.archive-tabs {
	padding:0;
	background:transparent;
	margin: 0 0 15px 0;
	padding: 0 0 15px;
	border-bottom:1px solid #eee;
	}

.post ul.archive-tabs li {
	padding:0;
	background:transparent;
	margin: 0;
	float:left;
	}

.archive-tabs a,
.archive-tabs a:link,
.archive-tabs a:visited {
	display:block;
	float:left;
	margin: 0 5px 0 0;
	background:#eee;
	padding: 5px 10px;
	font-weight:bold;
	color:#000;
	border:1px solid #e5e5e5;
	}

.archive-tabs a:hover,
.archive-tabs a:active,
.archive-tabs .ui-tabs-selected a {
	background:#333;
	color:#fff;
	border:1px solid #000;
	}

#archive-tabs .ui-tabs-hide {  
	display: none;  
	}

.archives-images {
	width: 146px;
	height:146px;
	margin: 0 5px 5px;
	float:left;
	}

.archives-images img.thumbnail {
	float:none;
	margin:0;
	padding:0;
	border:0;
	width:140px;
	padding:2px;
	background:#fff;
	border:1px solid #e5e5e5;
	}