
.mightySlider_fullwidth {
    overflow: hidden;
}
.mightySlider_fullwidth .mSButtons {
    height: 80%;
}
.mightySlider_fullwidth .frame {
    width: 100%;
    height: 100%;
}
.mightySlider_fullwidth .frame .slideelement {
    height: 100%;
}
.mightySlider_fullwidth .frame .slideelement > div {
    float: left;
    height: 100%;
    overflow: hidden;
}

.mightySlider_fullwidth .frame .slideelement .mSSlide {
    height: 100%;
}

.mightySlider_fullwidth .frame .mSCover img {
    max-width: none;
}
.mightySlider_fullwidth .credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    line-height: normal;
    font-weight: 300;
    text-shadow: rgba(0,0,0,0.7) 0 1px 0px;
    color: #CCC;
    background: #000;
    background: rgba(0,0,0,0.6);
    padding: 0 4px;
    white-space: nowrap;
    z-index: 1002;
    text-transform: uppercase;
}
.mightySlider_fullwidth .credit a {
    color: #FFF;
    font-weight: 400;
}
.mightySlider_fullwidth .infoBlock {
    position: absolute;
    max-width: 80%;
    overflow: hidden;
    padding: 20px;
    z-index: 1002;
}
.mightySlider_fullwidth .infoBlockLeft {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-585px, -50%);
    -webkit-transform: translate(-585px, -50%);
}
.mightySlider_fullwidth .infoBlock title {
    font-weight: 600 !important;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 3px;
    color: inherit;
    text-align: left;
}
.mightySlider_fullwidth .infoBlock p {
    font-weight: 300;
    margin: 4px 0 0;
}
.infoBlock a:not(.button) {
    color: #FFF;
    text-decoration: underline;
}
.mightySlider_fullwidth .mSLink {
    display: none;
}
.infoBlock .buttons {
    padding-top: 20px;
}

@media (max-width: 1150px) {
    .mightySlider_fullwidth .infoBlockLeft {
        top: 50%;
        left: 10%;
        right: auto;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}

/*@media (max-width: 979px) {*/
    /*.mightySlider_fullwidth {*/
        /*height: 400px;*/
        /*margin-top: 0;*/
    /*}*/
    /*.mightySlider_fullwidth .infoBlockLeft {*/
        /*min-width: 40%;*/
        /*transform: none;*/
        /*-webkit-transform: none;*/
        /*top: 20px;*/
        /*left: 10%;*/
    /*}*/
/*}*/

@media (max-width: 768px) {
    .mightySlider_fullwidth {
        height: 300px;
    }
    .mightySlider_fullwidth .infoBlock {
        top: 50%;
        padding: 10px;
        height: auto;
        max-height: 100%;
    }
    .mightySlider_fullwidth .infoBlock h4 {
        font-size: 14px;
        line-height: 17px;
    }
    .mightySlider_fullwidth .infoBlock p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .mightySlider_fullwidth .infoBlock {
        padding: 10px;
        height: auto;
        max-height: 100%;
        width: 100%;
    }
    .mightySlider_fullwidth .infoBlock .title span {
        font-size: 18px !important;
        line-height: 17px;
    }
    .mightySlider_fullwidth .infoBlock p span {
        font-size: 16px !important;
    }
}

