.fw-tabs-container ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.fw-tabs-container ul:before,
.fw-tabs-container ul:after {
	content: " ";
	display: table;
}
.fw-tabs-container ul:after {
	clear: both;
}
.fw-tabs-container ul:before,
.fw-tabs-container ul:after {
	content: " ";
	display: table;
}
.fw-tabs-container ul:after {
	clear: both;
}
.fw-tabs-container ul li {
	background: none repeat scroll 0 0 #f0f0f0;
	border: 1px solid #e5e5e5;
	display: inline-block;
	float: left;
	border-radius: 3px 3px 0 0;
}
.fw-tabs-container ul li:first-child {
	border-left: 1px solid #e5e5e5;
}
.fw-tabs-container ul li a {
	color: #363f48;
	display: block;
	font-size: 14px;
	padding: 7px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}
@media (max-width: 768px){
	.fw-tabs-container ul li a {
		font-size: 11px;
		padding: 7px 10px;
		font-weight: 500;
	}
}
.fw-tabs-container ul li a:focus {
	outline: medium none;
}
.fw-tabs-container ul li.active {
	background: #ffffff;
	border-bottom: 1px solid #fff;
}
.fw-tabs-container ul li.active a {
	color: #4eaade;
}
.fw-tabs-container.tabs-justified ul li {
	float: none;
	display: table-cell;
	width: 1%;
	text-align: center;
}
.fw-tabs-container.tabs-justified .fw-tab-content {
	border-top: 0px;
	background-color: #ffffff;
}
.fw-tabs-container .fw-tab-content {
	border: 1px solid #e5e5e5;
	margin-top: -1px;
	padding: 20px 30px;
	border-radius: 0 0 3px 3px;
	background-color: #ffffff;
}
.fw-tabs-container .fw-tab-content img {
	float: left;
	margin: 5px 20px 5px 0;
}
.fw-tabs-container .fw-tab-content p:last-child {
	margin-bottom: 0;
}