.mightyslider_parallax {
    position: relative;
    background: #000;
    overflow: hidden;
}
.mightyslider_parallax .frame {
    width: 100%;
    height: 100%;
}
.mightyslider_parallax .frame .slide_element {
    height: 100%;
}
.mightyslider_parallax .frame .slide_element > div {
    float: left;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mightyslider_parallax .mSSlide {
    position: relative;
}

.mightyslider_parallax .mSCaption {
    display: block;
    position: absolute;
    color: #FFF;
    line-height: normal;
    margin: 0;
    text-align: center;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
}

.mightyslider_parallax .slider-button {
    display: inline-block;
    width: auto !important;
    height: auto !important;
    margin: 0;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 0 solid transparent;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    color: #4c4c4c;
    font-weight: bold;
    padding: 10px 20px;
    background: #eb4b13;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.mightyslider_parallax .slider-button a{
    color: inherit !important;
    text-decoration: none;
}

.mightyslider_parallax .text {
    display: inline-block;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    white-space: nowrap;
}

@media screen and (max-width: 768px){
    .mightyslider_parallax .mSPages{
        padding: 5px 0 !important;
        margin: auto;
        height: auto !important;
        bottom: 0 !important;
        right: 0;
        left: 0;
        z-index: 1003;
        overflow: hidden;
        text-align: center;
        line-height: 0;
        pointer-events: none;
    }
    .mightyslider_parallax .mSPages li{
        margin: 0 3px !important;
        width: 15px !important;
        height: 15px !important;
    }
}
