/* Tables */
/* -------------------------------------------------- */
table {
	background-color: transparent;
}
caption {
	padding-top: 8px 10px;
	padding-bottom: 8px 10px;
	color: #bfbfbf;
	text-align: left;
}
th {
	text-align: left;
}
.fw-table table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 22px;
	border-collapse: collapse;
	border-spacing: 0;
}
.fw-table table > thead > tr > th,
.fw-table table > tbody > tr > th,
.fw-table table > tfoot > tr > th,
.fw-table table > thead > tr > td,
.fw-table table > tbody > tr > td,
.fw-table table > tfoot > tr > td {
	padding: 8px 10px;
	line-height: 1.6;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}
.fw-table table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
}
.fw-table table > caption + thead > tr:first-child > th,
.fw-table table > colgroup + thead > tr:first-child > th,
.fw-table table > thead:first-child > tr:first-child > th,
.fw-table table > caption + thead > tr:first-child > td,
.fw-table table > colgroup + thead > tr:first-child > td,
.fw-table table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.fw-table table > tbody + tbody {
	border-top: 2px solid #dddddd;
}
.fw-table table .table {
	background-color: #f1f0ee;
}
.fw-table-condensed table > thead > tr > th,
.fw-table-condensed table > tbody > tr > th,
.fw-table-condensed table > tfoot > tr > th,
.fw-table-condensed table > thead > tr > td,
.fw-table-condensed table > tbody > tr > td,
.fw-table-condensed table > tfoot > tr > td {
	padding: 5px;
}
.fw-table-bordered table {
	border: 1px solid #dddddd;
}
.fw-table-bordered table > thead > tr > th,
.fw-table-bordered table > tbody > tr > th,
.fw-table-bordered table > tfoot > tr > th,
.fw-table-bordered table > thead > tr > td,
.fw-table-bordered table > tbody > tr > td,
.fw-table-bordered table > tfoot > tr > td {
	border: 1px solid #dddddd;
}
.fw-table-bordered table > thead > tr > th,
.fw-table-bordered table > thead > tr > td {
	border-bottom-width: 2px;
}
.fw-table-striped table > tbody > tr:nth-child(odd) {
	background-color: #f9f9f9;
}
.fw-table-hover table > tbody > tr:hover {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	float: none;
	display: table-cell;
}

.fw-table {
	overflow-x: auto;
	min-height: 0.01%;
}
@media screen and (max-width: 767px) {
	.fw-table {
		width: 100%;
		margin-bottom: 16.5px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
	}
	.fw-table > table {
		margin-bottom: 0;
	}
	.fw-table > table > thead > tr > th,
	.fw-table > table > tbody > tr > th,
	.fw-table > table > tfoot > tr > th,
	.fw-table > table > thead > tr > td,
	.fw-table > table > tbody > tr > td,
	.fw-table > table > tfoot > tr > td {
		white-space: nowrap;
	}
	.fw-table > .table-bordered {
		border: 0;
	}
	.fw-table > .table-bordered > thead > tr > th:first-child,
	.fw-table > .table-bordered > tbody > tr > th:first-child,
	.fw-table > .table-bordered > tfoot > tr > th:first-child,
	.fw-table > .table-bordered > thead > tr > td:first-child,
	.fw-table > .table-bordered > tbody > tr > td:first-child,
	.fw-table > .table-bordered > tfoot > tr > td:first-child {
		border-left: 0;
	}
	.fw-table > .table-bordered > thead > tr > th:last-child,
	.fw-table > .table-bordered > tbody > tr > th:last-child,
	.fw-table > .table-bordered > tfoot > tr > th:last-child,
	.fw-table > .table-bordered > thead > tr > td:last-child,
	.fw-table > .table-bordered > tbody > tr > td:last-child,
	.fw-table > .table-bordered > tfoot > tr > td:last-child {
		border-right: 0;
	}
	.fw-table > .table-bordered > tbody > tr:last-child > th,
	.fw-table > .table-bordered > tfoot > tr:last-child > th,
	.fw-table > .table-bordered > tbody > tr:last-child > td,
	.fw-table > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0;
	}
}

.fw-table .desc-col {
	text-align: right;
	font-weight: bold;
}



/* Price Table */
/* -------------------------------------------------- */
.fw-pricing {
	text-align: center;
	font-size: 20px;
}
.fw-package {
	display: inline-block;
	font-size: 14px;
	/* width: 255px; */
	width: 100%;
	position: relative;
	padding-bottom: 0;
	vertical-align: top;
	/* vertical-align: middle;*/
}
.fw-package .fw-heading-row {
	padding: 20px 0;
	background: #363f48;
	color: #ffffff;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 20px;
  border-bottom: 1px #e5e5e5 solid;
}

.fw-package .fw-pricing-row {
	background: #f5f5f5;
	color: #888888;
  border-bottom: 1px #e5e5e5 solid;
}

.fw-package .fw-pricing-row{
	padding: 20px 0;
}

.fw-package .fw-pricing-row span {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #4eaade;
	margin-left: 15px;
}

.fw-package .fw-pricing-row span,
.fw-package .fw-pricing-row sup {}

.fw-package .col-row:nth-child(2n+1) {
	background: #f7f7f7;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-package,
.fw-pricing .fw-package-wrap.center-col .fw-package{
	border: 1px solid #e5e5e5;
	border-bottom-width: 3px;
	border-radius: 3px;
}

.fw-pricing .fw-package-wrap.highlight-col .fw-heading-row {
	background: #4eaade;
}
.fw-pricing .fw-package-wrap.highlight-col .fw-pricing-row {}

.fw-pricing .fw-package-wrap.center-col .fw-default-row, 
.fw-pricing .fw-package-wrap.highlight-col .fw-default-row {
	
	background: #fff;
}

.fw-pricing .fw-package-wrap.center-col .fw-default-row span, 
.fw-pricing .fw-package-wrap.highlight-col .fw-default-row span {
  border-bottom: 1px #e5e5e5 solid;
  padding: 20px 0;
  margin: 0 40px;
	display: block;
}

.fw-pricing .fw-package-wrap.center-col .fw-package, 
.fw-pricing .fw-package-wrap.highlight-col .fw-package {
  background-color: #fff;
}
 

.fw-pricing .fw-package-wrap.desc-col {
	border-left: none;
	border-right: none;
	border-top: 1px #e5e5e5 solid;
	color: #888;
	border: none;
	box-sizing: border-box;
	margin: 0;
	max-width: 225px;
}

.fw-pricing .fw-package-wrap.desc-col .fw-heading-row,
.fw-pricing .fw-package-wrap.desc-col .fw-pricing-row {
	color: #888;
	background: none;
	border-bottom: 1px #e5e5e5 solid;
}
.fw-pricing .fw-package-wrap.desc-col .fw-default-row {
	background: none;
	padding: 20px;

}
.fw-pricing .fw-package-wrap.desc-col .col-row:last-child {
	border-bottom: 1px solid #eee;
}

.fw-pricing .fw-package-wrap.desc-col .fw-switch-row {
	text-align: center;
}

/** button **/
.fw-package .fw-button-row {
	padding: 15px 0;
}

.fw-table .button-row td *,
.fw-package .fw-button-row * {
	word-break: normal;
	white-space: normal;
}
/** end button**/

.fw-pricing .fw-price-icon-no:before {
	content: "\f068";
	color: #cb1e1b;
}

.fw-pricing .fw-price-icon-yes:before {
	content: "\f058";
	color: #06cb00;
}