/* Style Panel */
.wrap-style-panel {
	position: fixed;
	top: 150px;
	left: -197px;
	padding: 28px 34px;
	display: block;
	width: 197px;
	z-index: 9999;
	background: #fff;
	border: 1px solid #ededed;
	-webkit-box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 0.3);
	-moz-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

.wrap-style-panel.open {
	left: 0;
}

.wrap-style-panel.closed {
	left: -197px;
}

.wrap-style-panel .title-panel {
	font-size: 13px;
	color: #767676;
	margin: 0 0 5px;
	line-height: 18px;
}

.wrap-style-panel .list-style {
	margin: 20px 0 0;
	list-style: none;
}

.wrap-style-panel .list-style li {
	float: left;
	margin-bottom: 4px;
	width: 96px;
}

.wrap-style-panel .list-style li:nth-child(odd) {
	margin-right: 4px;
}

.wrap-style-panel .list-style li a {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 5px 0;
	display: block;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
}

.wrap-style-panel .list-style li a:hover,
.wrap-style-panel .list-style li a:focus {
	opacity: .9;
}

.wrap-style-panel .open-close-panel {
	position: absolute;
	right: -52px;
	top: 57px;
	display: block;
	background: #fff;
	padding: 5px 12px;
	border: 1px solid #ededed;
	border-left: none;
	-webkit-box-shadow: 3px 1px 9px -3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 1px 9px -3px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 1px 9px -3px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.wrap-style-panel i {
	font-family: 'fontawesome';
	font-size: 32px;
	color: #767676;
	font-style: normal;
}

.blue{
	background-color: #4eaade;
}
.black{
	background-color: #000000;
}
.green{
	background-color: #24890d;
}