.fw-clients {
  border-radius: 3px;
  border: 1px #e5e5e5 solid;
  border-bottom: none;
  width: 100%;
  display: table;
}

.fw-clients-row{
  width: 100%;
  display: table-row;
}
.fw-clients-col{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-right: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  padding: 20px 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.fw-clients-col img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.fw-clients-col:last-child{
  border-right: none;
}
.fw-clients-col:hover{
  background-color: rgba(0, 0, 0, .05);
}

.fw-clients-col:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}