.fw-call-to-action {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	padding: 20px;
	display: table;
    position: relative;
    background-color: #fff;
    width: 100%;
}
.fw-call-to-action > div {
	display: table-cell;
	vertical-align: middle;
}
.fw-call-to-action .fw-action-content h2 {
	margin-top: 0;
	font-weight: bold;
}

.fw-call-to-action .fw-action-btn {
	padding-left: 40px;
}
.fw-call-to-action:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e5e5e5 #fff #fff #fff;
    border-radius: 3px 0 0 0;
}

@media (max-width: 768px) {
    .fw-call-to-action > div {
        display: block;
        text-align: center;
    }
    .fw-call-to-action .fw-action-btn {
        padding: 40px 0;
    }
}
/*@media (max-width: 992px) {

}*/