.fw-alert {
	padding: 15px;
	margin-bottom: 22px;
	border: 1px solid transparent;
	border-radius: 3px 3px 19px 3px;
	position: relative;
}
.fw-alert:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #fff #fff #fff #fff;
    border-radius: 3px 0 0 0;
}
.fw-alert .alert-link {
	font-weight: bold;
}
.fw-alert > p,
.fw-alert > ul {
	margin-bottom: 0;
}
.fw-alert > p + p {
	margin-top: 5px;
}
.fw-alert .alert-icon {
	margin-right: 15px;
	font-size: 18px;
	position: relative;
	top: 1px;
}
.alert-dismissible {
	padding-right: 35px;
}
.alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.fw-alert-success {
	background-color: #f3f9e1;
	border-color: #afbb89;
	color: #afbb89;
}
.fw-alert-success:after {
    border-color: #afbb89 #fff #fff #fff;
}
.fw-alert-success hr {
	border-top-color: #c9e2b3;
}
.fw-alert-success .alert-link {
	color: #2b542c;
}
.fw-alert-info {
	background-color: #dcf1fc;
	border-color: #7ea5bc;
	color: #7ea5bc;
}
.fw-alert-info:after {
    border-color: #7ea5bc #fff #fff #fff;
}
.fw-alert-info hr {
	border-top-color: #a6e1ec;
}
.fw-alert-info .alert-link {
	color: #245269;
}
.fw-alert-warning {
	background-color: #fff4de;
	border-color: #c4a973;
	color: #c4a973;
}
.fw-alert-warning:after {
    border-color: #c4a973 #fff #fff #fff;
}
.fw-alert-warning hr {
	border-top-color: #f7e1b5;
}
.fw-alert-warning .alert-link {
	color: #66512c;
}
.fw-alert-danger {
	background-color: #fdd8d8;
	border-color: #c68989;
	color: #c68989;
}
.fw-alert-danger:after {
    border-color: #c68989 #fff #fff #fff;
}
.fw-alert-danger hr {
	border-top-color: #e4b9c0;
}
.fw-alert-danger .alert-link {
	color: #843534;
}