.ui-picker-frame .ui-picker-container-frame,
.ui-picker .ui-picker-container{
    width: 380px;
    height: 180px;
    position: relative;
    border: 1px #ddd solid;
    margin-left: 15px;
    overflow: hidden;
}

.ui-picker-frame .ui-picker-el-frame,
.ui-picker .ui-picker-el{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
}