.mightySlider_cover_flow .frame {
    padding: 100px 0;
}
.mightySlider_cover_flow .frame ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mightySlider_cover_flow .frame ul li {
    margin-right: -140px;
}
.mightySlider_cover_flow .frame ul li img {
    max-width: none;
}
.mightySlider_cover_flow .details {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    color: #CCC;
    font-size: 16px;
    font-weight: 300;
    pointer-events: none;
}
.mightySlider_cover_flow .details .slideTitle {
    font-weight: 400;
    color: #FFF;
}

/* Responsive Improvements */
@media (max-width: 1200px) {
    .mightySlider_cover_flow .frame ul li {
        margin-right: -100px;
    }
}
@media (max-width: 1023px) {
    .mightySlider_cover_flow .frame ul li {
        margin-right: -90px;
    }
}
@media (max-width: 767px) {
    .mightySlider_cover_flow .frame ul li {
        margin-right: -70px;
    }
    .mightySlider_cover_flow .details{
        max-height: 100px;
        overflow: hidden;
    }
}
@media (max-width: 680px) {
    .mightySlider_cover_flow .frame ul li {
        margin-right: -50px;
    }
}
@media (max-width: 479px) {
    .mightySlider_cover_flow .frame ul li {
        margin-right: -40px;
    }
}
@media (max-width: 320px) {
    .mightySlider_cover_flow .frame ul li {
        margin-right: -30px;
    }
}
