/*
Theme Name: WP-Multipurpose
Theme URI: http://www.solostream.com/wordpress-themes/wp-multipurpose
Author: SoloStream, LLC
Author URI: http://www.solostream.com
Description: Multipurpose Premium WordPress Theme by SoloStream, LLC.
Version: 1.6.49
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, multipurpose, business, sliders, page builder
Text Domain: unyson
Domain Path: /languages
*/

@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
html{height: 100%;}
body{font-size: 14px; line-height: 1.6; color: #666; font-family: 'Raleway', sans-serif; position: relative; min-height: 100%;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ""; content: none;}
table{border-collapse: collapse; border-spacing: 0;}
a{color: #666; text-decoration: underline;}
a:hover{color: #4eaade;}
b, strong{font-weight: 600;}
em {font-style: italic;}
blockquote {padding:10px 20px; margin:0 0 20px; border-left:5px solid #eee;}
h1, h2, h3, h4, h5, h6{margin-top: 10px; margin-bottom: 10px;}
h1.inc-margin, h2.inc-margin, h3.inc-margin, h4.inc-margin, h5.inc-margin, h6.inc-margin{margin-top: 20px; margin-bottom: 20px;}
h1{font-size: 36px;}
h2{font-size: 30px;}
h3{font-size: 22px;}
h4{font-size: 18px; text-transform: uppercase;}
h5{font-size: 16px;}
h6{margin-bottom: 0; font-size: 14px;}
p{margin: 0 0 10px;}
.full-width{width: 100%;}
.box{max-width: 100%; width: 1170px; margin: 0 auto; background-color: #ffffff;}

@media (min-width: 768px){
  .full-width .fw-container{width: 750px; }
}
@media (min-width: 992px){
  .full-width .fw-container{width: 970px; }
}
@media (min-width: 1200px){
  .full-width .fw-container{width: 1170px; }
}

#page {min-height: 100%; }

.main-content:after{content: ''; display: block; clear: both;}
.content-area {width: 100%;}
article.fw-portfolio,
.post{margin-top: 20px; margin-bottom: 20px;}
.withsidebar.left{padding-left: 280px; float: right;}
.withsidebar.right{padding-right: 280px; float: left;}
.sidebar{width: 260px; background-color: #fff;}
.sidebar.left{margin-right: -280px; float: left;}
.sidebar.right{margin-left: -280px; float: right;}
aside {margin: 50px 0 0; padding: 0 10px;}

@media (max-width: 992px){
  .sidebar aside{display: inline-block; margin: 10px 10px; vertical-align: top; min-width: 25%; }
}
@media (max-width: 768px){
  .sidebar aside{display: block; padding: 0px 20px 30px;}
}
@media (max-width: 992px){
  .withsidebar.left,
  .withsidebar.right {float: none; padding: 0; }
  .sidebar.left,
  .sidebar.right {width: 100%; float: none; margin: 0; }
}

.dark-blue{color: #363f48;}
.section.gray{border-top: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; background-color: #f1f1f1;}
.section.dark{background-color: #363f48; color: #a4acb5;}
.section.dark h1, .section.dark h2, .section.dark h3, .section.dark h4, .section.dark h5, .section.dark h6{color: #fff;}
.top-bar{background: #363f48; color: #a4acb5; font-family: Arial, Helvetica, sans-serif; padding: 10px 0;}
.top-bar .contacts{text-align: left;}
.top-bar .social{text-align: right;}
.top-bar .social .item,
.top-bar .contacts .item{color: #a4acb5; display: inline-block; vertical-align: middle; text-decoration: none; font-size: 11px; text-transform: uppercase; margin: 0 5px;}
.top-bar a{color: #a4acb5; text-decoration: none;}
.top-bar .contacts .fa{margin: 0 5px;}
.top-bar .contacts .item:first-child{margin-left: 0;}
.top-bar .social .item:last-child {margin-right: 0;}
.top-bar-menu {margin-top: 3px; text-align: center; font-size: 11px; }
.top-bar-menu .menu-item{display: inline-block; margin: 0 10px;}
.top-bar-menu a {color: #a4acb5; text-decoration: none;}
@media (max-width: 992px){
  .top-bar .col{text-align: center; padding: 5px 0; }
}

.header {}
.header-container.container{display: table; position: relative;}
.header-container .logo{display: table-cell; vertical-align: middle; padding: 20px 0; text-align: left;}
.header-container .primary-navigation{display: table-cell; vertical-align: middle; text-align: right; position: relative;}
.isMobile{display: none;}
.nav-menu{padding: 0; margin: 0; display: inline-block; vertical-align: middle; min-width: 200px;}
.nav-menu li {display: inline-block; position: relative;}
.nav-menu > li {visibility: hidden;}
.nav-menu li a{display: block; padding: 0 15px; font-weight: 500; font-size: 13px; text-decoration: none; outline: none;}
.nav-menu li a:hover {color: #4eaade;}
.nav-menu .sub-menu{display: none; position: absolute; background: #fff; border-top: 3px solid #4eaade; border-bottom: 3px solid #e5e5e5; border-radius: 0 0 3px 3px; top: 100%; z-index: 50; min-width: 190px;}
.nav-menu .sub-menu li a{display: block; text-align: left; border-bottom: 1px solid #e5e5e5; padding: 12px; padding-left: 28px; min-width: 190px; position: relative; color: #666 !important;}
.nav-menu .sub-menu li a:not(.fa):before{content: ""; position: absolute; display: block; top: 50%; transform: translateY(-50%); left: 15px; width: 0; height: 0; border-style: solid; border-width: 4px 0 4px 4px; border-color: transparent transparent transparent #a4acb5; background-color: #fff;}
.nav-menu .sub-menu li a.fa:before{position: absolute; display: block; top: 50%; transform: translateY(-50%); left: 7px;}
.nav-menu .sub-menu li a:hover:before{border-color: transparent transparent transparent #4eaade;}
.nav-menu .sub-menu li:last-child a{border-bottom: none;}
.nav-menu .sub-menu li a.button:before{display: none;}
.nav-menu .sub-menu li a.button:after{display: none;}
.nav-menu .sub-menu li a:hover{background-color: #f3f3f3;}
.menu-item-has-icon .fa:before{font-family: 'FontAwesome'; margin-right: 8px;}
.nav-menu-toggle{float: right;}
.nav-menu-hiddens{display: none; position: absolute; top: 100%; right: 0; list-style: none; padding: 0; margin: 0; background-color: #fff; z-index: 9999; border-top: 3px solid #4eaade; box-shadow: 0px 0px 2px rgba(0, 0, 0, .1);}
.nav-menu-hiddens li {margin: 0; padding: 0;}
.nav-menu-hiddens a {display: block; line-height: 1 !important; font-size: 13px; font-weight: 500; text-decoration: none; color: #666 !important; min-width: 190px; text-align: right; border-bottom: 1px solid #e5e5e5; padding: 12px;}
.menu-item a.button {line-height: 1 !important;}
.menu-item a.button:active,
.menu-item a.button:focus {box-shadow: inset 0px -3px 0px rgba(0, 0, 0, .3); margin: 5px; padding: 10px 12px;}
.menu-button{display: none; position: absolute; font-size: 20px; top: 50%; transform: translateY(-50%); }
.nav-menu-mobile{padding: 0 40px; margin: 0; position: absolute; display: none; top: 20px; left: -100%; background-color: #fff; z-index: 9999; box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, .3);}
.nav-menu-mobile li {position: relative; display: block; margin: 10px 0;}
.nav-menu-mobile li a{padding: 5px 0; font-weight: 500; font-size: 16px; text-decoration: none;}
.nav-menu-mobile li a:hover {color: #4eaade;}
.nav-menu-mobile .menu-item-has-children > a {position: relative;}
.nav-menu-mobile .menu-item-has-children > a:before {content: '\f0dd'; display: inline-block; font-family: "FontAwesome"; position: absolute; right: -10px; top: 0;}
.nav-menu-mobile .sub-menu {display: none; margin: 10px 0;}

@media (max-width: 992px){
  .header-container{width: 100%; display: block; }
  .header-container .logo,
  .header-container .primary-navigation{display: block; text-align: left; }
  .isMobile{display: block; }
  .nav-menu{display: none; }
  .nav-menu-buttons{display: none; }
  .nav-menu-buttons li{display: block; }
  .menu-button{display: block; }
}

.footer-sidebar{background-color: #363f48; padding: 30px 0 30px;}
.footer-sidebar a{/*color: #a4acb5 !important;*/}
.footer-sidebar aside{margin-top: 0;}
@media (max-width: 768px){
  .footer-sidebar aside{display: block; padding: 0px 20px 30px;}
}
@media (min-width: 992px){
  .footer-sidebar aside{display: inline-block; padding: 0 20px; vertical-align: top; width: 24.9%; }
}

.footer {position: absolute; width: 100%;}

#colophon aside {width: 50%; display: inline-block; vertical-align: top; margin: 10px 0;}
#colophon aside:first-child {text-align: left}
#colophon aside:last-child {text-align: right}


.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries li {display: block; padding: 10px 10px 10px 30px;position: relative;}
.widget_recent_antries {margin-top: 10px;}
.widget_recent_entries li:before{content: "\f0f6"; font-family: "FontAwesome"; display: block; position: absolute; left: 0; font-size: 16px;}
.widget_recent_entries a {display: block;}
.widget_recent_entries span {display: block;}
.widget_archive li{padding: 10px 0 10px 30px; position: relative;}
.widget_archive li:last-child{border-bottom: none;}
.widget_archive li:before{content: ""; font-family: "FontAwesome"; display: block; position: absolute; left: 10px; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 16px;}
.recent-works{width: 100%; margin: 10px 0;}
.recent-works .item{margin: 0 10px 10px 0; -webkit-filter: grayscale(1); filter: grayscale(1); transition: all 0.5s;}
.recent-works .item:hover{-webkit-filter: grayscale(0); filter: grayscale(0);}
.wrap-social a.social {text-decoration: none; margin: 0 2px;}

.widget_calendar {max-width: 240px;}
.widget_calendar a {text-decoration: underline !important;}
.widget_calendar table#wp-calendar {width: 100%;}
.widget_calendar table#wp-calendar #pref,
.widget_calendar table#wp-calendar #next {padding-top: 10px;}
.site-info{padding: 10px 0; background-color: #272e34;}
.site-info .row{display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.site-info p{padding: 0; color: #6e7780;}
.site-info a{color: #6e7780;}
.site-info a:hover{color: #4eaade;}
.menu-toggle{text-align: center; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; outline: none; margin: 0 auto;}
.menu-toggle:hover{background-color: #f5f5f5;}
.icon-bar{display: block; width: 22px; height: 2px; border-radius: 1px; background-color: #666; margin-bottom: 5px;}
.icon-bar:last-child{margin-bottom: 0;}
@media (max-width: 992px){.top-bar_info{text-align: center; float: none; }
 .top-bar_icons{text-align: center; float: none; }
}
@media (max-width: 992px){.header{display: block; width: 100%; padding: 0;}
 .header .logo,
 .header .primary-navigation{display: block; width: 100%; }
 .header .logo{text-align: center; width: 100%; }
 .header .primary-navigation{width: 100%; text-align: center; }
}

.alignleft {display: inline; float: left;}
.alignright {display: inline; float: right;}
.aligncenter {display: block; margin-right: auto; margin-left: auto;}

.read-more {font-size: 14px; text-decoration: none; text-align: left; margin: 10px 0 0; text-transform: uppercase; font-weight: 600;}

.archive-title{margin-bottom: 10px;}
.format-aside .thumb {width: 100%; max-width: 300px; height: auto;}
.entry-meta {padding: 10px 0;}
.format-quote .entry-meta,
.format-aside .entry-meta {border-top: 1px #e5e5e5 solid;}
.format-quote .attachment-avatar,
.format-status .attachment-avatar {display: block; margin: 10px auto 0; border-radius: 50%;}
.format-quote .quote-avatar,
.format-quote .quote-avatar,
.format-status .status-avatar,
.format-status .status-content {float: left;}
.format-quote .quote-avatar,
.format-status .status-avatar {width: 150px; margin-right: -150px;}
.format-quote .quote-content,
.format-status .status-content {padding-left: 150px;}
.format-quote .entry-content {font-style: italic;}
.format-link .image-container{float: left; width: 200px;}
.format-link .content-container{float: left; width: calc(100% - 200px);}
.format-link .logo {display: block; margin: 10px 0 0;}
.format-link .entry-content a {display: inline-block; color: #666; padding: 5px 8px; border-radius: 3px; border: 1px #e5e5e5 solid; margin: 10px 0; text-decoration: none;}
.format-image .thumb-container {width: 100%; padding: 0;}
.format-image .thumb {background-color: #fff;}
.format-image .thumb_sh {box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .1); padding: 5px; background-color: #fff; margin: 10px 0;}

.fw-portfolio .entry-content{margin: 20px 0;}

.sticky {border: 1px #fafafa solid;}
.bypostauthor {background:#FFF;}
.commentlist .bypostauthor {background:#FFF;}

.page .post-edit-link {margin: 10px 0; color: #999999 !important;}
a.post-edit-link,
a.edit {text-decoration: none; display: inline-block; padding: 3px 8px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, .1); background-color: rgba(0, 0, 0, .05); cursor: pointer; color: #999999 !important;}
a.post-edit-link:hover,
a.edit:hover {text-decoration: none; color: inherit; background-color: rgba(0, 0, 0, .08);}
a.post-edit-link:focus,
a.edit:focus {text-decoration: none; color: inherit; background-color: rgba(0, 0, 0, .1);}

.entry-title {margin: 0; padding: 0;}
.entry-title a {text-decoration: none;}
.entry-meta {color: #a5a4a4;}
.entry-meta a{color: #a5a4a4;}
.entry-meta span {display: inline-block; margin-right: 5px;}
.page-header {padding-bottom: 0; margin: 0; border-bottom: none;}
.post-navigation {padding-bottom: 20px;}

.nav-links:after{content: ''; display: block; clear: both;}
.meta-nav.prev{float: left;}
.meta-nav.next{float: right;}
.meta-nav.prev,
.meta-nav.next {padding: 0 10px;}

.archive-header {margin-top: 20px;}

.comment-form .comment-form-author label,
.comment-form .comment-form-email label,
.comment-form .comment-form-url label,
.comment-form .comment-form-comment label {display: block;}
.comment-form .comment-form-comment textarea {width: 100%; height: 100px; resize: vertical;}

/* Buttons Styling */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.contact-form input[type=submit],
.button{position: relative; display: inline-block; top: 0; margin: 5px; min-width: 200px; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 0 solid transparent; text-decoration: none; white-space: nowrap; outline: none; font-size: 14px; line-height: 1; border-radius: 3px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; touch-action: manipulation; -ms-touch-action: manipulation; text-transform: uppercase; background-color: #4eaade; color: #ffffff !important; font-weight: 600; box-shadow: inset 0px -3px 0px rgba(0, 0, 0, .3); padding: 15px 35px 18px;}
.woocommerce #respond input#submit:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.contact-form input[type=submit]:active,
.button:active{margin-top: 8px; box-shadow: inset 0px 0px 0px rgba(0, 0, 0, .3); padding: 15px 35px 15px;}
.woocommerce #respond input#submit span,
.woocommerce a.button span,
.woocommerce button.button span,
.woocommerce input.button span,
.contact-form input[type=submit],
.button span{display: block;}
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.contact-form input[type=submit]:hover,
.contact-form input[type=submit]:focus,
.button:hover,
.button:focus{color: #ffffff; text-decoration: none; outline: none; opacity: 0.85;}
/* Additional styles */
.button.button-round{border-radius: 23px !important;}
.button.button-square{border-radius: 0 !important;}
.button.button-disabled{box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); pointer-events: none; cursor: not-allowed; padding-bottom: 15px;}
.button.button-inverted{background-color: transparent; color: #4eaade; box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); border: 1px #4eaade solid; padding-bottom: 15px;}
.button.button-inverted,
.button.button-inverted:hover,
.button.button-inverted:active {margin: 5px;}
/* Button Sizes */
.woocommerce #respond input#submit.button-sm,
.woocommerce a.button.button-sm,
.woocommerce button.button.button-sm,
.woocommerce input.button.button-sm,
.button.button-sm{padding: 10px 12px; font-size: 12px; line-height: 1; border-radius: 3px; min-width: 0;}
.woocommerce #respond input#submit.button-sm:active,
.woocommerce a.button.button-sm:active,
.woocommerce button.button.button-sm:active,
.woocommerce input.button.button-sm:active,
.button.button-sm:active {padding: 10px 12px 7px;}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {background-color: #4eaade;}
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.alt:active,
.woocommerce a.button.alt:hover,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:active {background-color: #4eaade;}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {display: inline-block;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {width: 0; height: 0;}
.woocommerce div.product .woocommerce-tabs ul.tabs li {border-radius: 3px 3px 0 0;}

.fw-col-container {position: static; z-index: 1;}
.contact-form .field-textarea textarea {width: 100%;}
.contact-form .fw-row {margin: 0 !important;}
.contact-form input[type="text"], textarea {border: 1px #888 solid;}
.contact-form input[type="submit"] {margin: 5px 0;}
.contact-form [class^="fw-col-"]:first-child {padding-left: 0 !important;}
.contact-form [class^="fw-col-"]:last-child {padding-right: 0 !important;}
.fw-main-row-full .fw-row{margin: 0 !important;}
.fw-main-row-full .fw-col-xs-12, .fw-col-sm-12, .fw-col-md-12, .fw-col-lg-12{padding: 0 !important;}

.gallery {margin-bottom: 20px;}
.gallery-item {float: left; margin: 0 4px 4px 0; overflow: hidden; position: relative;}

.gallery-columns-1 .gallery-item {max-width: 100%;}
.gallery-columns-2 .gallery-item {max-width: 48%; max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px);}
.gallery-columns-3 .gallery-item {max-width: 32%; max-width: -webkit-calc(33.3% - 4px); max-width: calc(33.3% - 4px);}
.gallery-columns-4 .gallery-item {max-width: 23%; max-width: -webkit-calc(25% - 4px); max-width: calc(25% - 4px);}
.gallery-columns-5 .gallery-item {max-width: 19%; max-width: -webkit-calc(20% - 4px); max-width: calc(20% - 4px);}
.gallery-columns-6 .gallery-item {max-width: 15%; max-width: -webkit-calc(16.7% - 4px); max-width: calc(16.7% - 4px);}
.gallery-columns-7 .gallery-item {max-width: 13%; max-width: -webkit-calc(14.28% - 4px); max-width: calc(14.28% - 4px);}
.gallery-columns-8 .gallery-item {max-width: 11%; max-width: -webkit-calc(12.5% - 4px); max-width: calc(12.5% - 4px);}
.gallery-columns-9 .gallery-item {max-width: 9%; max-width: -webkit-calc(11.1% - 4px); max-width: calc(11.1% - 4px);}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {margin-right: 0;}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {clear: left;}

.gallery-caption {background-color: rgba(0, 0, 0, 0.7); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 12px; line-height: 1.5; margin: 0; max-height: 50%; opacity: 0; padding: 6px 8px; position: absolute; bottom: 0; left: 0; text-align: left; width: 100%;}

.gallery-caption:before {content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%;}

.gallery-item:hover .gallery-caption {opacity: 1;}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {display: none;}

/* Mega Menu */
li.menu-item-has-mega-menu {}
div.mega-menu {
  display: none; 
  position: absolute; 
  background: #ffffff; 
  top: 100%; 
  z-index: 50; 
  border-top: 3px solid #4eaade; 
  border-bottom: 3px solid #e5e5e5; 
  border-radius: 0 0 3px 3px;
  width: auto;
}
ul.mega-menu-row {
  position: relative !important;
  display: block !important;
  float: left;
  border: none !important;
  border-radius: 0 !important;
  width: 190px;
}
li.mega-menu-col {}